
body.mobile section.about .about__hero__mobile-header
{
  display: block;
}

body.desktop section.about .about__hero
{
  background: none !important;
}

section.about .xplore-team-title
{
  margin-bottom: 30px;

  text-align: center;
}

section.about .about__hero-wrapper
{
  position: fixed;
  z-index: -1;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;

  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 769px)
{
  section.about .about__hero-wrapper
  {
    top: 50px;
  }
}

section.about .about__hero
{
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  height: calc(100vh - 100px);
  max-height: 700px;

  background-size: cover;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 769px)
{
  section.about .about__hero
  {
    height: calc(100vh - 50px);
  }
}
section.about .about__hero .about__hero-copy
{
  width: 100%;
}
section.about .about__hero .about__hero-copy hgroup
{
  width: 43%;
  margin: 0 auto;
}
section.about .about__hero .about__hero-copy h5
{
  margin-bottom: 26px;
}
section.about .about__hero .about__hero-copy h1
{
  margin-bottom: 18px;
}
section.about .about__hero .about__hero-copy h1,
section.about .about__hero .about__hero-copy h5
{
  text-align: center;
  text-transform: uppercase;

  color: #fff;
}
section.about .about__hero .btn__play
{
  margin: 0 auto;
}

section.about .about__hero__mobile-header
{
  display: none;

  text-align: center;
}
section.about .about__hero__mobile-header h1,
section.about .about__hero__mobile-header h6
{
  color: #fff;
}

section.about .about__content
{
  margin-top: 100vh;
  padding-top: 80px;
}
@media (max-width: 769px)
{
  section.about .about__content
  {
    margin-top: calc(100vh - 50px);
    padding-top: 20px;
  }
}

section.about .about__intro
{
  width: 52%;
  margin: 0 auto 105px;
}
@media (max-width: 769px)
{
  section.about .about__intro
  {
    width: 100%;
    margin: 0 auto;
    padding: 0 10.9375%;
  }
}
section.about .about__intro .paragraph
{
  margin-bottom: 30px;
}
section.about .about__intro .about__intro-pillars
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 769px)
{
  section.about .about__intro .about__intro-pillars
  {
    flex-direction: column;

    padding-bottom: 35px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
section.about .about__intro .about__intro-pillars .about__intro-pillars__block
{
  width: 33.33%;
}
@media (max-width: 769px)
{
  section.about .about__intro .about__intro-pillars .about__intro-pillars__block
  {
    width: 100%;
    margin: 0 auto 35px;
  }
}
@media (max-width: 769px)
{
  section.about .about__intro .about__intro-pillars .about__intro-pillars__block:last-child
  {
    margin: 0 auto;
  }
}
section.about .about__intro .about__intro-pillars .about__intro-pillars__block h4,
section.about .about__intro .about__intro-pillars .about__intro-pillars__block h6
{
  text-align: center;
  text-transform: uppercase;

  color: #313641;
}
section.about .about__intro .about__intro-pillars .about__intro-pillars__block h4
{
  line-height: 16px;

  margin-bottom: 14px;

  letter-spacing: .055rem;
}
section.about .about__intro .about__intro-pillars .about__intro-pillars__block h6
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;
  line-height: 18px;

  width: 85%;
  margin: 0 auto;

  letter-spacing: .2rem;
}

section.about section.content-grid__multi
{
  padding: 0 10.13889%;

  background-color: #fff;
}
@media (max-width: 769px)
{
  section.about section.content-grid__multi
  {
    padding: 0;
  }
}
@media (max-width: 769px)
{
  section.about section.content-grid__multi .content-grid__multi-wrapper
  {
    flex-direction: column-reverse;

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
  }
}
@media (max-width: 769px)
{
  section.about section.content-grid__multi .content-grid__multi-wrapper .content-listing__map
  {
    margin-top: 0;
    padding: 0 10.9375%;
  }
}
section.about section.content-grid__multi .content-grid__multi-wrapper .content-grid__caption
{
  top: 60px;
  right: -440px;

  width: 400px;
}
@media (max-width: 769px)
{
  section.about section.content-grid__multi .content-grid__multi-wrapper .content-grid__caption
  {
    display: none;
  }
}
section.about section.content-grid__multi .content-grid__multi-copy
{
  width: 100%;
}
@media (min-width: 769px)
{
  section.about section.content-grid__multi .content-grid__multi-copy
  {
    width: 50%;
  }
}
section.about section.content-grid__multi .content-grid__multi-copy .inner header,
section.about section.content-grid__multi .content-grid__multi-copy .inner hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  section.about section.content-grid__multi .content-grid__multi-copy .inner header,
  section.about section.content-grid__multi .content-grid__multi-copy .inner hgroup
  {
    margin-bottom: 35px;
  }
}
section.about section.content-grid__multi .content-grid__multi-copy .inner header > h3,
section.about section.content-grid__multi .content-grid__multi-copy .inner header > .heading,
section.about section.content-grid__multi .content-grid__multi-copy .inner hgroup > h3,
section.about section.content-grid__multi .content-grid__multi-copy .inner hgroup > .heading
{
  padding-bottom: 1rem;
}
section.about section.content-grid__multi .content-grid__multi-copy .inner header > span.underline,
section.about section.content-grid__multi .content-grid__multi-copy .inner hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
@media (max-width: 769px)
{
  section.about section.content-grid__multi .content-grid__multi-copy .inner
  {
    padding: 25px 10.9375%;
  }
}

section.about .full-bleed-caption
{
  position: relative;

  margin: 2px 10.13889% 0;

  background-color: #fff;
}
@media (max-width: 769px)
{
  section.about .full-bleed-caption
  {
    margin: 2px 10.9375% 35px;
  }
}
section.about .full-bleed-caption .caption
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  position: absolute;
  top: 60px;
  left: -20px;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  letter-spacing: .18rem;
  text-transform: uppercase;

  color: #cfd1d4;
}
@media (max-width: 769px)
{
  section.about .full-bleed-caption .caption
  {
    display: none;
  }
}

section.about .content-grid__quote
{
  padding: 2px 10.13889% 115px;
}
@media (max-width: 769px)
{
  section.about .content-grid__quote
  {
    padding: 2px 10.9375% 35px;
  }
}
section.about .content-grid__quote .content-grid__quote-wrapper__quote-image
{
  display: block;

  height: auto;
}
@media (max-width: 769px)
{
  section.about .content-grid__quote .quote-block
  {
    margin-bottom: 35px;
  }
}

section.about .explore-team-row
{
  padding: 2px 10.13889% 115px;
}
@media (max-width: 769px)
{
  section.about .explore-team-row
  {
    padding: 0 10.9375% 90px;
  }
}

section.about .about__owners-rentals
{
  padding: 85px 10.13889% 100px;
}
section.about .about__owners-rentals header,
section.about .about__owners-rentals hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  section.about .about__owners-rentals header,
  section.about .about__owners-rentals hgroup
  {
    margin-bottom: 35px;
  }
}
section.about .about__owners-rentals header > h3,
section.about .about__owners-rentals header > .heading,
section.about .about__owners-rentals hgroup > h3,
section.about .about__owners-rentals hgroup > .heading
{
  padding-bottom: 1rem;
}
section.about .about__owners-rentals header > span.underline,
section.about .about__owners-rentals hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
section.about .about__owners-rentals .about__owners-rentals__wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.about .about__owners-rentals .about__owners-rentals__wrapper .owners-block,
section.about .about__owners-rentals .about__owners-rentals__wrapper .renters-block
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 310px;
  padding: 0 70px;

  text-align: center;

  background-color: #fff;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
section.about .about__owners-rentals .about__owners-rentals__wrapper .owners-block h4,
section.about .about__owners-rentals .about__owners-rentals__wrapper .renters-block h4
{
  margin-bottom: 16px;
}
section.about .about__owners-rentals .about__owners-rentals__wrapper .owners-block p,
section.about .about__owners-rentals .about__owners-rentals__wrapper .renters-block p
{
  margin-bottom: 30px;

  color: #313641;
}
section.about .about__owners-rentals .about__owners-rentals__wrapper .renters-block
{
  margin-left: 5px;
}
section.about .about__owners-rentals .about__owners-rentals__wrapper .owners-block
{
  margin-right: 5px;
}
