
article.retreat
{
  background-color: #efefef;
}
article.retreat .breadcrumb-container
{
  position: relative;
}
@media (max-width: 769px)
{
  article.retreat .breadcrumb-container
  {
    display: block;
  }
}
@media (max-width: 769px)
{
  article.retreat .breadcrumb-container.listing-only
  {
    display: none;
  }
}
article.retreat .breadcrumb-container .breadcrumbs
{
  color: #abaeb3;
}
article.retreat .breadcrumb-container .breadcrumbs a,
article.retreat .breadcrumb-container .breadcrumbs span
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 11px;
  font-size: .6875rem;
  font-weight: 400;
  font-style: normal;

  margin-bottom: 10px;

  letter-spacing: .15rem;
  text-transform: uppercase;

  color: inherit;
}
article.retreat .breadcrumb-container .breadcrumbs a.last-crumb,
article.retreat .breadcrumb-container .breadcrumbs span.last-crumb
{
  color: #313641;
}
article.retreat input,
article.retreat optgroup,
article.retreat select,
article.retreat textarea
{
  background-color: transparent;
}
article.retreat .mbl-retreat-booking-nav
{
  overflow: hidden;

  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
@media (max-width: 769px)
{
  article.retreat .mbl-retreat-booking-nav
  {
    position: fixed;
    z-index: 200;
    top: 0;

    overflow: hidden;

    width: 100%;
    height: 10.33333vw;
    padding-top: 50px;

    -webkit-transition: height .4s ease-in-out 0s;
    transition: height .4s ease-in-out 0s;

    background-color: rgba(246, 246, 246, .77);
  }
  article.retreat .mbl-retreat-booking-nav.open
  {
    height: 100%;
  }
  article.retreat .mbl-retreat-booking-nav .anchor
  {
    position: relative;

    width: 100%;
    height: 10.33333vw;

    cursor: pointer;

    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f6f6f6;
  }
  article.retreat .mbl-retreat-booking-nav .anchor .copy
  {
    font-family: 'proxima-nova', sans-serif;
    font-size: 2.66667vw;

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: .2em;

    -webkit-font-smoothing: antialiased;
  }
  article.retreat .mbl-retreat-booking-nav .anchor .copy .icon
  {
    font-size: 1.66667vw;

    position: relative;
    left: 3.33333vw;

    display: inline-block;

    margin: 0 0 0 1.33333vw;
  }
  article.retreat .mbl-retreat-booking-nav .menu
  {
    width: 100%;
    height: auto;
  }
  article.retreat .mbl-retreat-booking-nav .menu a
  {
    font-family: 'proxima-nova', sans-serif;
    font-size: 2.66667vw;
    font-weight: 400;
    font-style: normal;

    display: block;

    margin: 7vw 0;

    text-align: center;
    letter-spacing: .2em;

    color: #505866;

    -webkit-font-smoothing: antialiased;
  }
  article.retreat .mbl-retreat-booking-nav .menu a.book
  {
    font-weight: 700;
  }
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book-title
{
  position: absolute;
  z-index: 40;
  top: 50px;

  width: 0;
  height: 0;

  cursor: pointer;

  background-color: #312f3c;
}
@media (max-width: 769px)
{
  article.retreat .mbl-retreat-booking-nav .mbl-retreat-book-title
  {
    width: 100%;
    height: 10.33333vw;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book-title .copy
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 2.66667vw;

  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: .2em;

  color: #fff;

  -webkit-font-smoothing: antialiased;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book-title .copy .icon
{
  font-size: 8px;

  position: relative;
  left: 4.33333vw;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book
{
  width: 0;
  height: 0;

  background-color: #fff;
}
@media (max-width: 769px)
{
  article.retreat .mbl-retreat-booking-nav .mbl-retreat-book
  {
    width: 100%;
    height: 100%;
  }
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section
{
  height: calc(100vh - 120px);
  padding: 0 6.66667%;

  -webkit-transition: opacity .42s, -webkit-transform 2s ease-in-out 0s;
  transition: opacity .42s, -webkit-transform 2s ease-in-out 0s;
  transition: opacity .42s, transform 2s ease-in-out 0s;
  transition: opacity .42s, transform 2s ease-in-out 0s, -webkit-transform 2s ease-in-out 0s;

  opacity: 1;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section.active
{
  -webkit-transition: opacity .4s ease-out 0s;
  transition: opacity .4s ease-out 0s;
  -webkit-transform: translate(-50%, 0) scale(1, 1);
  transform: translate(-50%, 0) scale(1, 1);
  pointer-events: auto;

  opacity: 1;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .input-box
{
  font-family: adobe-garamond-pro,sans-serif;
  font-size: 4.66667vw;

  position: relative;

  overflow: hidden;

  min-height: 11.83333vw;
  max-height: 11.83333vw;

  border-bottom: 1px solid rgba(0, 0, 0, .12);

  -webkit-font-smoothing: antialiased;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .input-box.text
{
  min-height: 13.33333vw;
  max-height: 13.33333vw;

  border-bottom: none;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .input-box label
{
  font: inherit;

  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .input-box input
{
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;

  width: 100%;

  background: none;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .input-box input[type='number']
{
  text-align: right;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .input-box input[type='checkbox']
{
  border: none;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .input-box input[type='checkbox'] + label
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;
  font-weight: 100;
  font-style: normal;

  margin-bottom: 6px;

  letter-spacing: .05rem;
  text-transform: uppercase;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .input-box input[type='text']
{
  font-size: 16px;

  width: 100%;
  padding: 4px;

  border: 1px solid #eaebec;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .select-box + .input-box
{
  padding-top: 5vw;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .select-box
{
  font-family: adobe-garamond-pro,sans-serif;
  font-size: 4.66667vw;

  position: relative;

  overflow: hidden;

  width: 100%;
  min-height: 11.83333vw;
  max-height: 11.83333vw;

  border-bottom: 1px solid rgba(0, 0, 0, .12);

  -webkit-font-smoothing: antialiased;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .select-box.cal.active
{
  max-height: none;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .select-box .intro
{
  position: absolute;
  top: 5vw;
  left: 0;

  -webkit-transform: none;
  transform: none;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .select-box .icon
{
  font-size: 7px;

  position: absolute;
  position: absolute;
  top: 7.6vw;
  right: 0;

  display: inline-block;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .select-box select
{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 11.09375vw;

  opacity: 0;
  outline: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
article.retreat .mbl-retreat-booking-nav .mbl-retreat-book section .book-now-button
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 2.66667vw;
  font-style: normal;

  display: block;

  width: 83.33333vw;
  margin-top: 10vw;
  padding: 4.33333vw 0;

  text-align: center;
  letter-spacing: .2em;

  color: #fff;
  border: none;
  background-color: #312f3c;
}
article.retreat .hero
{
  position: relative;

  height: calc(100vh - 100px);
  max-height: 700px;
}
article.retreat section.booking-widget
{
  top: -90px;

  max-width: 1440px;
  margin-bottom: -89px;
}
article.retreat section.booking-widget .launch-mobile-booking-widget
{
  display: none;
}
@media (max-width: 769px)
{
  article.retreat section.booking-widget .launch-mobile-booking-widget
  {
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
    font-size: .625rem;

    display: block;

    width: 100%;
    height: 45px;
    margin-top: 16px;

    letter-spacing: .18rem;

    color: #fff;
    border: none;
    background-color: #313641;
  }
}
article.retreat section.booking-widget .launch-mobile-booking-widget .icon
{
  display: none;
}
article.retreat section.booking-widget .invalid
{
  border: 1px solid #c0392b !important;
}
article.retreat section.retreat-details
{
  margin-top: 85px;
  padding-bottom: 100px;

  background-color: #efefef;
}
@media (max-width: 769px)
{
  article.retreat section.retreat-details
  {
    margin-top: 30px;
  }
}
article.retreat section.retreat-details .bv-cleanslate .bv-core-container-16 .bv-action-bar button,
article.retreat section.retreat-details .bv-cleanslate .bv-core-container-16 .bv-content-list-container .bv-trustmarkIcon
{
  display: none !important;
}
article.retreat article.retreat-details__copy p
{
  color: #313641;
}
article.retreat article.retreat-details__copy .destination-guide-link
{
  width: 51%;
  margin-left: 24%;
}
article.retreat article.retreat-details__copy p.intro
{
  line-height: 27px;

  padding-bottom: 30px;

  text-align: center;
}
@media (max-width: 769px)
{
  article.retreat article.retreat-details__copy p.intro
  {
    padding: 0 20px 30px;

    text-align: left;
  }
}
@media (max-width: 769px)
{
  article.retreat article.retreat-details__copy p.intro span
  {
    margin-top: 15px;
  }
}
article.retreat article.retreat-details__copy > .paragraph
{
  line-height: 27px;

  width: 51%;
  margin-left: 24%;
  padding-bottom: 35px;
}
@media (max-width: 769px)
{
  article.retreat article.retreat-details__copy > .paragraph
  {
    width: 100%;
    margin: 0;
    padding: 0 20px 25px;
  }
}
article.retreat aside.amenities-row
{
  width: 51%;
  margin-bottom: 88px;
  margin-left: 24%;
}
@media (max-width: 769px)
{
  article.retreat aside.amenities-row
  {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }
}
article.retreat .retreat__details__with-map
{
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 56%;
  margin-left: 24%;
  padding-bottom: 80px;
}
@media (max-width: 769px)
{
  article.retreat .retreat__details__with-map
  {
    display: none;
    visibility: hidden;
  }
}
article.retreat .retreat__details__with-map .copy
{
  width: 50%;
  padding-right: 30px;
}
article.retreat .retreat__details__with-map .copy p
{
  line-height: 27px;

  padding-bottom: 30px;
}
article.retreat .retreat__details__with-map .map-wrapper
{
  width: 100%;
}
article.retreat .room-type-detail__multi
{
  padding: 0 10.13889% 60px;
}
@media (max-width: 769px)
{
  article.retreat .room-type-detail__multi
  {
    padding: 0 10px 25px;
  }
}
article.retreat .pricing-container
{
  margin-bottom: 60px;
}
article.retreat .image-gallery__parent
{
  margin: 0 0 100px 6.944444444444445%;
}
@media (max-width: 769px)
{
  article.retreat .image-gallery__parent
  {
    margin: 0 0 50px 18px;
  }
}
article.retreat .video-poster
{
  margin-bottom: 100px;
}
@media (max-width: 769px)
{
  article.retreat .video-poster
  {
    margin-bottom: 30px;
  }
}
article.retreat .content-grid__event
{
  padding: 0 10.13889%;
}
@media (max-width: 769px)
{
  article.retreat .content-grid__event
  {
    padding: 0 18px;
  }
}
article.retreat .content-grid__event.theSpa
{
  padding: 0 10.13889% 100px;
}
@media (max-width: 769px)
{
  article.retreat .content-grid__event.theSpa
  {
    padding: 40px 18px 0;
  }
}
article.retreat .retreat-detail__activities
{
  padding: 0 10.13889% 100px;
}
@media (max-width: 769px)
{
  article.retreat .retreat-detail__activities
  {
    padding: 0;
  }
}
@media (max-width: 769px)
{
  article.retreat .retreat-detail__activities .image-on-image__intro-copy
  {
    position: static;

    width: 100%;
  }
}
@media (max-width: 769px)
{
  article.retreat .retreat-detail__activities .image-on-image__intro-copy article.inner
  {
    padding: 30px 20px;
  }
}
@media (max-width: 769px)
{
  article.retreat .retreat-detail__activities .image-on-image__map
  {
    display: none;
  }
}
article.retreat section.retreat-detail__offers
{
  padding: 0 15.27778% 0;
}
article.retreat section.retreat-detail__offers header,
article.retreat section.retreat-detail__offers hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  article.retreat section.retreat-detail__offers header,
  article.retreat section.retreat-detail__offers hgroup
  {
    margin-bottom: 35px;
  }
}
article.retreat section.retreat-detail__offers header > h3,
article.retreat section.retreat-detail__offers header > .heading,
article.retreat section.retreat-detail__offers hgroup > h3,
article.retreat section.retreat-detail__offers hgroup > .heading
{
  padding-bottom: 1rem;
}
article.retreat section.retreat-detail__offers header > span.underline,
article.retreat section.retreat-detail__offers hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
@media (max-width: 769px)
{
  article.retreat section.retreat-detail__offers
  {
    margin-bottom: 66px;
    padding: 0;
  }
}
@media (max-width: 769px)
{
  article.retreat section.retreat-detail__offers > header
  {
    margin: 0 10.13889% 35px;
  }
}
@media (max-width: 769px)
{
  article.retreat section.retreat-detail__offers .offers-row
  {
    margin-bottom: 35px;
  }
}
article.retreat section.retreat-detail__offers .offers-block__copy hgroup
{
  margin-bottom: 0;
}
article.retreat section.retreat-detail__offers .offers-block__copy hgroup h3.title
{
  padding-bottom: 10px;
}
article.retreat section.content-grid__multi
{
  padding: 100px 10.13889% 70px;
}
article.retreat section.retreat-details__related-destination
{
  padding: 0 10.13889% 70px;
}
article.retreat section.retreat-details__related-destination header,
article.retreat section.retreat-details__related-destination hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  article.retreat section.retreat-details__related-destination header,
  article.retreat section.retreat-details__related-destination hgroup
  {
    margin-bottom: 35px;
  }
}
article.retreat section.retreat-details__related-destination header > h3,
article.retreat section.retreat-details__related-destination header > .heading,
article.retreat section.retreat-details__related-destination hgroup > h3,
article.retreat section.retreat-details__related-destination hgroup > .heading
{
  padding-bottom: 1rem;
}
article.retreat section.retreat-details__related-destination header > span.underline,
article.retreat section.retreat-details__related-destination hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
article.retreat section.retreat-details__related-destination header
{
  margin-left: 7%;
}
