section.booking-page
{
  padding-bottom: 100px;

  border-bottom: 1px solid #abaeb3;
  background-color: #efefef;
}
section.booking-page .invisible
{
  visibility: hidden;
}
section.booking-page .invalid
{
  border: 1px solid #c0392b !important;
}
section.booking-page .booking-error p
{
  color: #c0392b;
}
section.booking-page .back
{
  padding: 31px 2.77778% 60px;
}
section.booking-page .back a
{
  font-weight: normal;
  font-style: normal;

  text-transform: uppercase;
}
@media (max-width: 769px)
{
  section.booking-page .back
  {
    overflow: hidden;

    width: 0;
    height: 0;
    padding: 0;
  }
}
section.booking-page .large
{
  font-size: 26px;
}
section.booking-page .booking-number
{
  text-align: center;
}
section.booking-page table td:first-child
{
  text-transform: uppercase;
}
section.booking-page hr
{
  border: none;
  border-top: solid 1px #cfd1d4;
}
section.booking-page .wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 75%;
  margin: 0 auto;

  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;

  opacity: 0;
}
@media (max-width: 769px)
{
  section.booking-page .wrapper
  {
    width: 100%;

    -ms-flex-flow: column;
    flex-flow: column;
  }
}
section.booking-page .wrapper.show
{
  opacity: 1;
}
section.booking-page .wrapper.columns
{
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
section.booking-page .booking__promo-code-wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 769px)
{
  section.booking-page .booking__promo-code-wrapper
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
section.booking-page .booking__promo-code-wrapper input
{
  width: 60%;
}
@media (max-width: 769px)
{
  section.booking-page .booking__promo-code-wrapper input
  {
    width: 100%;
  }
}
section.booking-page .booking__promo-code-wrapper .btn
{
  width: 40%;
}
@media (max-width: 769px)
{
  section.booking-page .booking__promo-code-wrapper .btn
  {
    width: 100% !important;
    margin-top: 10px;
  }
}
section.booking-page .retreat-expert
{
  position: relative;

  margin-top: 20px;
  padding: 9px 72px;
}
section.booking-page .retreat-expert:before
{
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 61px;
  height: 61px;

  content: '';

  border: solid 3px #efefef;
  border-radius: 29px;
  background-size: cover;
}
section.booking-page .retreat-expert:after
{
  position: absolute;
  top: 2px;
  left: 2px;

  display: block;

  width: 57px;
  height: 57px;

  content: '';

  border: solid 3px #fff;
  border-radius: 29px;
}
section.booking-page .activities
{
  position: relative;

  margin-top: 40px;
}
@media (max-width: 769px)
{
  section.booking-page .activities
  {
    display: none;
  }
}
section.booking-page .activities .activites-wrapper
{
  position: absolute;
  top: 0;
  left: -300px;

  text-align: center;
  white-space: nowrap;
}
section.booking-page .activities article
{
  display: inline-block;

  width: 360px;
  height: 200px;

  vertical-align: top;
}
section.booking-page .activities article img
{
  width: auto;
  height: 100%;
}
section.booking-page .activities article p
{
  margin: 0 auto;

  white-space: normal;
}
section.booking-page .retreat-cart
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  width: 36%;
  margin-right: 14px;

  background-color: #fff;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
@media (min-width: 769px)
{
  section.booking-page .retreat-cart
  {
    height: 1%;
  }
}
@media (max-width: 769px)
{
  section.booking-page .retreat-cart
  {
    width: 100%;
    margin-right: 0;
  }
}
section.booking-page .retreat-cart .cart-body
{
  padding: 35px 4.6875%;
}
section.booking-page .retreat-cart footer input
{
  width: 100%;
}
section.booking-page table
{
  width: 100%;
}
section.booking-page table tbody
{
  border-top: none;
}
section.booking-page table td:last-child
{
  text-align: right;
}
section.booking-page .retreat-guest-form,
section.booking-page .booking-number
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  width: 64%;
  margin: 0 auto;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
section.booking-page .contact__hero
{
  padding-top: 90px;
}
@media (max-width: 769px)
{
  section.booking-page .contact__hero
  {
    padding-bottom: 30px;
  }
}
section.booking-page .contact__hero header
{
  width: 40%;
  margin: 0 auto;

  text-align: center;
}
@media (max-width: 769px)
{
  section.booking-page .contact__hero header
  {
    width: 100%;
    padding: 0 10.9375%;
  }
}
section.booking-page .contact__hero header h1,
section.booking-page .contact__hero header p
{
  color: #abaeb3;
}
section.booking-page .contact__hero header h1
{
  margin-bottom: 10px;
}
section.booking-page .step
{
  margin-bottom: 10px;
  padding: 50px 60px;

  background-color: #fff;
}
section.booking-page .step h1
{
  text-transform: uppercase;
}
section.booking-page .step h2
{
  font-style: italic;
}
section.booking-page .step ul
{
  list-style-position: inside;
  list-style-type: disc;
}
section.booking-page .step ul li
{
  font-size: 14px;
  font-size: .875rem;
  line-height: 22px;
  line-height: 1.375rem;

  letter-spacing: .025rem;

  color: #505866;
}
section.booking-page .step2 .booking__promo-code-wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
section.booking-page .step2 .booking__promo-code-wrapper input
{
  width: 60%;
}
section.booking-page .step2 .booking__promo-code-wrapper .btn
{
  width: 40%;
}
section.booking-page .step2 .booking__promo-code-wrapper .bookingPage_promo
{
  font-size: 16px;
  font-weight: 200;

  display: block;

  width: 100%;
  margin: 16px 0 0;
  padding: 0 14px 12px;

  border: none;
  border-bottom: 1px solid #cfd1d4;
  outline: 0;
  background-color: transparent;
  background-image: none;

  -webkit-tap-highlight-color: transparent;
}
section.booking-page .step2 .booking__promo-code-wrapper .bookingPage_promo:disabled
{
  opacity: .4;
}
@media (max-width: 769px)
{
  section.booking-page .contact__information
  {
    width: 100%;
  }
}
section.booking-page .contact__information h6.title
{
  margin-bottom: 25px;

  text-transform: uppercase;

  color: #abaeb3;
}
@media (max-width: 769px)
{
  section.booking-page .contact__information h6.title
  {
    padding-left: 10.9375%;
  }
}
section.booking-page .contact__information h4
{
  font-style: italic;

  letter-spacing: .02rem;

  color: #abaeb3;
}
section.booking-page .contact__information .contact__information-row
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-bottom: 70px;
}
@media (max-width: 769px)
{
  section.booking-page .contact__information .contact__information-row
  {
    flex-direction: column;

    padding-bottom: 35px;
    padding-left: 10.9375%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
section.booking-page .contact__information .contact__information-row .contact__block
{
  width: 33.33%;
}
@media (max-width: 769px)
{
  section.booking-page .contact__information .contact__information-row .contact__block
  {
    width: 100%;
    margin-bottom: 15px;
  }
}
section.booking-page .contact__information .contact__information-row .contact__block span.underline
{
  display: block;

  width: 150px;

  border-top: 1px solid #abaeb3;
}
@media (max-width: 769px)
{
  section.booking-page .contact__information .contact__information-row .contact__block span.underline
  {
    width: 75px;
  }
}
section.booking-page .guestInfo__form
{
  width: 100%;
}
@media (max-width: 769px)
{
  section.booking-page .guestInfo__form
  {
    margin: 0 auto;
    padding: 35px 4.6875%;
  }
}
section.booking-page .guestInfo__form input,
section.booking-page .guestInfo__form textarea
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  border: 1px solid #abaeb3;
}
section.booking-page .guestInfo__form header
{
  width: 100%;
  margin-bottom: 20px;

  border-bottom: 1px solid #abaeb3;
}
section.booking-page .guestInfo__form header .title
{
  font-style: italic;

  color: #313641;
}
section.booking-page .guestInfo__form .contact__topic-init
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  height: 45px;
  padding: 0 20px;

  cursor: pointer;
  text-transform: uppercase;

  color: #abaeb3;
  border: 1px solid #abaeb3;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section.booking-page .guestInfo__form .contact__topic-wrapper
{
  position: relative;
}
section.booking-page .guestInfo__form .contact__topic-wrapper select
{
  position: absolute;
  left: 5%;
}
section.booking-page .guestInfo__form p,
section.booking-page .guestInfo__form textarea
{
  margin-bottom: 20px;
}
section.booking-page .guestInfo__form p.no-margin,
section.booking-page .guestInfo__form textarea.no-margin
{
  margin: 0;
}
section.booking-page .guestInfo__form .input-row
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 10px;
}
section.booking-page .guestInfo__form .input-row.hidden
{
  display: none;
}
section.booking-page .guestInfo__form .input-row select
{
  width: 100%;
}
@media (max-width: 769px)
{
  section.booking-page .guestInfo__form .input-row
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
section.booking-page .guestInfo__form .input-row label
{
  font-weight: 400;

  margin-top: 11px;
  margin-right: 60px;
}
section.booking-page .guestInfo__form .input-row input
{
  width: 50%;
  height: 45px;
  padding-left: 20px;
}
section.booking-page .guestInfo__form .input-row input[type='radio'],
section.booking-page .guestInfo__form .input-row input[type='checkbox']
{
  font-style: italic;

  width: 5%;
}
@media (max-width: 769px)
{
  section.booking-page .guestInfo__form .input-row input
  {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
section.booking-page .guestInfo__form .input-row input:first-child
{
  margin-right: 5px;
}
@media (max-width: 769px)
{
  section.booking-page .guestInfo__form .input-row input:first-child
  {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
section.booking-page .guestInfo__form .input-row input:last-child
{
  margin-left: 5px;
}
@media (max-width: 769px)
{
  section.booking-page .guestInfo__form .input-row input:last-child
  {
    margin-left: 0;
  }
}
section.booking-page .guestInfo__form .input-row input.solo:last-child
{
  width: calc(50% - 5px);
  margin-left: 0;
}
section.booking-page .guestInfo__form .input-row input.solo:first-child
{
  margin-right: 0;
}
section.booking-page .guestInfo__form .input-row input.full:last-child
{
  width: 100%;
}
section.booking-page .guestInfo__form textarea
{
  width: 100%;
  height: 220px;
  padding: 20px;

  resize: none;
}
section.booking-page .guestInfo__form .btn
{
  width: 100%;
}
section.booking-page .guestInfo__form .btn.disabled
{
  cursor: progress;

  color: #313641;
  background-color: #fff;
}
section.booking-page .guestInfo__form .submit p
{
  float: left;

  width: 64%;
}
section.booking-page .guestInfo__form .submit input
{
  float: right;

  width: auto;
  padding: 0 50px;
}
