
section.multi-variant .hero
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 540px;
  margin-bottom: 80px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
section.multi-variant .hero header
{
  width: 100%;
}
section.multi-variant .hero header .intro,
section.multi-variant .hero header h1
{
  text-align: center;

  color: #3d4451;
}
section.multi-variant .hero header h1
{
  width: 59%;
  margin: 0 auto 14px;
}
section.multi-variant .hero header .intro
{
  width: 60%;
  margin: 0 auto;
}
section.multi-variant .hero header a
{
  font-family: 'adobe-garamond-pro',sans-serif;
  font-weight: 700;
  font-style: italic;
}

section.multi-variant .multi-variant__details
{
  margin-bottom: 140px;
}
section.multi-variant .multi-variant__details header
{
  margin: 0 15.27778% 60px;

  border-bottom: 1px solid #d8dadc;
}
@media (max-width: 769px)
{
  section.multi-variant .multi-variant__details header
  {
    margin: 0 10.9375% 20px;
  }
}
section.multi-variant .multi-variant__details .multi-variant__copy,
section.multi-variant .multi-variant__details p
{
  font-size: 15px;
  font-size: .9375rem;
  line-height: 27px;

  letter-spacing: .01rem;

  color: #313641;
}
section.multi-variant .multi-variant__details .multi-variant__copy
{
  margin-bottom: 32px;
}
section.multi-variant .multi-variant__details p,
section.multi-variant .multi-variant__details .multi-variant__copy
{
  padding: 0 24%;
}
@media (max-width: 769px)
{
  section.multi-variant .multi-variant__details p,
  section.multi-variant .multi-variant__details .multi-variant__copy
  {
    padding: 0 10.9375%;
  }
}
section.multi-variant .multi-variant__details p
{
  margin-bottom: 4px;
}
section.multi-variant .multi-variant__details .strike
{
  margin-left: 24%;
}
@media (max-width: 769px)
{
  section.multi-variant .multi-variant__details .strike
  {
    margin-left: 10.9375%;
  }
}

section.multi-variant .multi-variant__gallery
{
  margin-bottom: 100px;
  margin-left: 10.13889%;
}
