
.explorer__help-modal .explorer__phone {
  position: absolute;
  right: 0;
  top: -12px;
  padding: 4px 0;
}

.page-body, footer.footer, nav.global-nav, .real-estate-footer{
  max-width: none!important;
  min-width: auto!important;
}

.sign-in-link {
  position: absolute;
  right: 4.5%;
  top: 10px;
}

section.home-page .home__hero-wrapper {
  max-width: 100%;
}
@media (max-width: 769px) {
  .global-nav__destinations.show {
    display: block;
    z-index: 3;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 600px) {
  .page-body, footer.footer, nav.global-nav {
    min-width: auto;
  }
}
@media screen and (max-width: 1280px){
  .explorer__help-modal .explorer__phone {
    .inner {
      .icon { display: block; }
      .text { display: none; }
    }
  }
  #openSearchInNav { display: none; }
}
@media screen and (min-width: 1281px){
  .explorer__help-modal .explorer__phone {
    width: auto;
    height: auto;
    .inner {
      display: block;
      border-radius: 0;
      padding: 8px 20px;
      color: #fff;
      .icon { display: none; }
      .text {
        text-transform: uppercase;
        font-size: 12px;
      }
      &.open {
        color: #000;
      }
    }
  }
  nav.global-nav .logo  {
    width: 26%;
    padding: 0 2%;
    position: absolute;
    margin: 30px 31%;
    text-align: center;
  }
}


