

.real-estate-footer {
  padding: 50px 0;
  display: block;
  background: $gray-light;
}

.footer-top {
  background: $gray-dark;
  .footer-top-wrap {

    padding: 50px 0;
  }
  color: $gray-lighter;
  input {
    background: $gray;
    border-color: $gray;
    color: $gray-lighter;
  }

}

.footer-bottom {
  .icon_search {
    font-size: 20px;
  }
}
.footer-nav-menu, .thumbnail-images {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    width: 33%;
    float: left;
    margin-bottom: 1px;
  }
}

.footer-nav-menu {
  padding: 20px 0;
  margin-bottom: 3px;
}

.thumbnail-images {
  max-width: 420px;
  float: right;
  img {
    width: 100%;
  }
}

.real-estate-footer a, .real-estate-footer .real-estate-footer-newsletter-signup-button {
  color: $gray-lighter;
  &:hover {
    color: #fff;
  }
}

#footerSearch {
  background: transparent;
  @include nr-placeholder(color, $gray-lighter, '&');
  padding: 5px 10px;
  border-bottom: 1px solid $gray-lighter;
  width: 70%;
}

.real-estate-footer__copyright {
  text-align: left;
}

.real-estate-footer__social {
  li {
    padding: 10px;
    margin-left: 10px;
  }
}

.real-estate-footer__social-item .icon {
  font-size: 24px;
}

.real-estate-footer__social-item {
  font-style: 1.5rem;
}