.search-section-header {
  color: #fff!important;
  font-size: 2.5rem!important;
  @include font-eb-garamond;
}
header {
  text-align: center;
}

.home__retreat-search {
  display: block!important;
  & > .wrapper {
    top: -350px!important;
    background: transparent;
    width: 600px;

    & > .home__retreat-search-container {
      height: auto;
      .btn {
        max-width: 100%;
      }
    }
  }
  .choices-search {
    .home__search__dropdown-title{
      text-align: right;
      &> h3 {
        display: block;
        margin: 0;
        float: left;
        border-right: 1px solid #aaa;
        &.first-dropdown{
          width: 360px;
          text-align: left;
        }
        &.check-in, &.check-out, &.home__search__bedrooms-dropdown {
          width: 50px!important;
          text-align: center;
        }
        &.search-btn-wrapper {
          width: 120px;
          text-align: center;
          border-right: none;
          a {
            margin: 0!important;
          }
        }
      }
    }
    .inner {
      padding: 10px 0;
      background: #fff;
    }
  }
  .choices .inner h3 .icon {
    font-size: 1.5rem;
    margin: 0;
  }
  .home__search__dropdown {
    top: 101px;
  }
  .global-nav__destinations .global-nav__destinations__destination-list-wrapper {
    padding: 0;
    height: 300px;
  }
}


@media (max-width: 1280px) {
  .home__retreat-search > .wrapper {
    width: 800px;
  }
}



.home__retreat-search .home__search__dropdown {
  top: 96px;
  width: 371px;
  left: 0;
  margin: 0;
}