.search-section-header {
  @include font-eb-garamond;
}
header {
  text-align: center;
}

.arrow-up-destination-list{
  &:before { border-width:6px; }
  &:after { border-width:5px; }
}

section.home-page {
  .home__retreat-search {
    & > .wrapper {
      header { margin-bottom: 0; }
    }
  }
  .home__retreat-search .global-nav__destinations.show {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .global-nav__destination-list {
    width: 100%!important;
  }
  .home__search__dropdown {
    width: 600px;
  }
}

.home__retreat-search {
  display: block!important;
  & > .wrapper {
    top: -350px!important;
    background: transparent;
    width: 600px;

    & > .home__retreat-search-container {
      height: auto;
      .btn {
        max-width: 100%;
      }
    }
  }
  .choices-search {
    .home__search__dropdown-title{
      text-align: right;
      &> h3 {
        display: block;
        margin: 0;
        float: left;
        border-right: 1px solid #aaa;
        &.first-dropdown{
          width: 360px;
          text-align: left;
        }
        &.check-in, &.check-out, &.home__search__bedrooms-dropdown {
          width: 50px!important;
          text-align: center;
        }
        &.search-btn-wrapper {
          width: 120px;
          text-align: center;
          border-right: none;
          a {
            margin: 0!important;
          }
        }
      }
    }
    .inner {
      padding: 10px 0;
      background: #fff;
    }
  }
  .choices .inner h3 .icon {
    font-size: 1.5rem;
    margin: 0;
  }
  .home__search__dropdown {
    top: 101px;
    left: 0;
    margin: 0;
  }
  .global-nav__destinations {
    width: 370px;
    top: 97px;
    .global-nav__destinations__destination-list-wrapper {
      padding: 0;
      height: 300px;
    }
  }
  .home__search__check-in-wrapper ,
  .home__search__check-out-wrapper {
    .arrow-up-destination-list{
      left: 17.3%;
    }
  }
  .home__search__dropdown.list {
    top: 40px;
    left: -20px ;
    .arrow-up-destination-list:after, .arrow-up-destination-list:before {
      left: 60% ;
    }
  }
}

@media (max-width: 769px) {
  section.home-page {
    .home__retreat-search > .wrapper, .home__search__dropdown {
        width: 100%;
    }
  }
  .search-section-header {
    font-size: 1.5rem!important;
    padding: 10px;
  }
}

@media screen and (min-width: 769px){
  .search-section-header {
    color: #fff!important;
    font-size: 2.5rem!important;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  section.home-page {
    .home__retreat-search > .wrapper, .home__search__dropdown {
      width: 750px;
    }
  }
}

@media screen and (max-width: 1280px){
  .home__retreat-search .choices-search {
    padding: 10px;
  }
}

// Custom Styles Not Included in Design
@mixin custom-styles(){
  .home__retreat-search {
    .home__search__dropdown.list {
      width: 600px;
      left: -420px;
      border: 0;
      li {
        float: left;
        width: 120px;
        height: 120px;
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
        }
        .arrow-up-destination-list {
          left: 94px;
          &:before, &:after {
            left: 360px;
          }
        }
      }
    }
  }
  .home__retreat-search .global-nav__destinations {
    width: 600px;
  }
}

@include custom-styles;