// Menu
// Responsive Navigation Styles
/*Mobile Only*/
@media screen and (max-width: 769px) {
  nav.global-nav > .inner {
    .navbar-left, .navbar-right {
      display: block;
      //padding: 47.5px 0 0 35px;
      #openSearch, li:after {
        display: none;
      }
      li{ padding: 0 0 10px 0; }
    }
  }
}

/*Potrait Tablet Only*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
  nav.global-nav > .inner {
    .navbar-left, .navbar-right {
      li {
        a {
          font-size: 26px;
          font-size: 1.625rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1281px){
  // Navbar
  .logo-text img {
    width: auto;
  }


  nav.global-nav {
    & > .inner {

      // 100% = [(3 + 32) + (2 + 26 + 2) + 35]%
      .icon_search { float: left; width: 3%; }
      .navbar-left { float: left; width: 32%; }
      .navbar-brand { width: 26%; padding: 0 2%; }
      .navbar-right { float: right; width: 35%; }

      // Styles
      .icon_search {
        font-size: 16px;
        margin-top: 2px;
        margin-left: 0;
        margin-right: 10px;
      }
      .navbar-left, .navbar-right {
        li {
          font-size: 15px;
          font-size: .9375rem;
          position: relative;
          margin-right: 20px;
          -webkit-transition: color .2s ease;
          transition: color .2s ease;
          color: #313641;
          &:after {
            position: absolute;
            bottom: -2px;
            display: block;
            width: 0;
            height: 2px;
            content: '';
            -webkit-transition: width .4s ease-out 0s;
            transition: width .4s ease-out 0s;
            background-color: #313641;
          }
          &:hover, .active {
            &:after {
              width: 100%;
            }
          }

          display: inline-block;
          float: left;
        }
      }
      .navbar-brand {
        position: absolute;
        margin: 0 auto;
        text-align: center;
      }

      .mbl-btn-nav {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 50px;
        height: auto;
        padding: 17.5px 0;
        span {
          position: relative;
          z-index: 2;
          display: block;
          width: 15px;
          height: 1px;
          margin: 3px auto;
          background: #312f3c;
        }
      }
      .global-nav__search-wrapper {
        left: 0;
      }
      a {
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    &.stuck .inner {
      .navbar-left, .navbar-right {
        li {
          color: #fff;
          a.active {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
    &.sticky-top-nav {
      background-color: $gray-dark!important;
      border-color: $gray-dark;
      -webkit-transition: background 0.5s linear;
      -moz-transition: background 0.5s linear;
      -ms-transition: background 0.5s linear;
      -o-transition: background 0.5s linear;
      transition: background 0.5s linear;

      max-width: 100%;
      margin: 0 auto;

      .main-menu__link-list li, .logo-text-small, .sign-in-link, .inner .icon_search {
        color: #fff!important;
      }
      .explorer__help-modal .explorer__phone {
        .inner {
          background: #fff!important;
          color: #000!important;
        }
      }
    }
  }

  section.booking-widget.stuck nav.booking-widget__global-nav-stuck .inner {
    .navbar-left, .navbar-right {
      li {
        color: #fff;
      }
    }
  }

  .global-nav__destinations {
    margin-left: 8%;
    &.show {
      padding: 8px 8px 8px 0;
      .global-nav__destinations__destination-list-wrapper {
        height: 300px;
      }
    }
    overflow: visible;
    height: 315px;
    width: 400px;
    top: 75px;
    @include box-shadow();
  }
}
/*Mobile and Tablet*/
@media (max-width: 1280px){
  nav.global-nav {
    height: 55px;
  }
  nav.global-nav > .inner {
    padding: 0;
    padding-left: 4.5%;
  }

  nav.global-nav {
    & > .inner {
      //.navbar-left, .navbar-right {
      //  display: none!important;
      //}
      .global-nav__right {
        margin-left: auto;
        padding-top: 17px;
      }
      .navbar-brand { width: 91%; }
    }
    .logo-text-small { display: none; }
  }
  .explorer__phone.animate {
    padding: 4px 0;
    .icon {
      color: #000;
    }
  }

  .explorer__help-modal .explorer__phone .inner {
    background: transparent;
    color: #000;
    display: block;
    width: auto;
    height: auto;
    text-align: right;
    padding: 12px 15px;
    text-align: center;
    &:hover, &.open {
      background: transparent;
    }
  }
  .explorer__help-modal .explorer__help-modal-inner {
    top: 30px!important;
  }
  .explorer__help-modal .explorer__help-modal-inner__copy .css_triangle-up {
    right: 0!important;
  }
  .sign-in-link {
    top: 21px!important;
  }
}

/*Desktop Only*/
@media (min-width: 1281px){
  nav.global-nav > .inner {
    padding: 0 4.5%;
  }
  nav.global-nav {
    & > .inner {
      .mbl-btn-nav {display: none; }
      .global-nav__right { padding-top: 40px; }
      .navbar-brand { top: 31px; }
    }
  }
}

.global-nav__destination-list > header {
  text-align: left!important;
}
