.guest-reviews-carousel {
  background: $gray-lighter;
}
.guest-reviews-carousel, .home__offers  {
  padding: 50px 0;

  .flexslider {
    margin:0;
    background: transparent;
    border: none;
    .flex-caption {
      font-size: 14px;
      margin-top: 20px;
    }
    .btn-default {
      width: 170px;
      font-size: 12px;
      padding: 20px 35px;
      background: #333;
      color: #fff;
      margin-top: 30px;
    }
  }
  .flexslider .flex-direction-nav .flex-next {
    right: -50px!important; /* adjust offset to match the hover style */
    opacity: .8; /* adjust opacity to match the hover style */
  }

  .flexslider .flex-direction-nav .flex-prev {
    left: -50px!important; /* adjust offset to match the hover style */
    opacity: .8; /* adjust opacity to match the hover style */
  }
}