.slides {
  li {
    position: relative;
    .inner {
      width: 100%;
      padding: 0 20px;
      position: relative;
      img {
        max-width: 100%;
      }
    }
  }
}




section.home-page .home__offers {
  padding: 0;
}

.flex-direction-nav a  {
  font-style: normal!important;
  text-align: center!important;
}
@media screen and (min-width: 1281px){
  .destination-carousel{
    .flexslider {
      margin: 0;
      margin-bottom: 60px;
    }
    .flexslider .slides {
      margin-left: -25%;
    }
    .flexslider .flex-direction-nav .flex-next {
      right: 24%!important; /* adjust offset to match the hover style */
      opacity: .8; /* adjust opacity to match the hover style */
    }

    .flexslider .flex-direction-nav .flex-prev {
      left: 24%!important; /* adjust offset to match the hover style */
      opacity: .8; /* adjust opacity to match the hover style */
    }

    .flex-direction-nav .flex-disabled {
      opacity: 1!important;
      z-index: 1000;
    }



    .flex-caption {
      bottom: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      /* width: 100%; */
      margin-right: 25px;
      right: -5px;
      left: 20px;
      padding: 20px;
      text-align: center;

      a {
        font-style: normal;
        @include font-montserrat;
        font-weight: 200;
        font-size: 24px;
      }
    }
  }
}

