.hero-bottom {
  background: #e2e2e2;
}

.partners-bar {
  height: 60px;
  margin: 0;
  padding: 10px 0;
  li {
    width: 16.2%;
    padding: 0 3.6%;
    float: left;
    img {
      max-width: 100%;
    }
  }
}