form.newsletter-email {
  @include nr-placeholder(color, $gray-lighter, ' ');
  @include nr-placeholder(font-style, normal, ' ');
  @include nr-placeholder(text-transform, uppercase, ' ');
  @include nr-placeholder(font-size, 12px, ' ');

  .btn {
    width: 100px;
    color: #fff;
  }
}

form.newsletter-email input[type='email'], form.newsletter-email input[type='text'] {
  background: #222;
}