@media (max-width: 768px) {
  .global-nav {
    .logo-text {
      line-height: normal!important;
      width: 50%;
      margin: 2px 25%;
    }

    & > .inner {
      padding: 0!important;
      .global-nav__right {
        width: 100%;
      }
    }
  }
  .global-nav__destinations {
    top: 50px;
  }

}

@media (min-width: 769px) and (max-width: 1280px) {
  .global-nav > .inner .global-nav__right {
    width: 400px;
  }
  .home__retreat-search .choices-search .inner {
    width: 500px;
    margin: 0 auto;
  }
}
/*Mobile and Tablet*/
@media screen and (max-width: 1280px){
  .global-nav {
    z-index: 600;
    top: 0;
    display: block;
    height: 50px;
    .sign-in-link {
      top: 15px !important;
      font-size: 13px!important;
      right: 50px;
    }
    & > .inner {
      height: 50px;
      padding: 0;
      padding-left: 4.5%;
      background: #fff;

      .navbar-brand { width: 91%; }
      .global-nav__retreat_search {
        left: 19%;
        width: 81%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
      .book-now-btn {
        display: none;
      }

      #main-menu {
        display: block;

        padding: 47.5px 0 0 35px;
        li {
          padding: 0 0 10px 0;
          &:after {
            display: none;
          }
        }

        #openSearch {
          display: none;
        }
      }
      .initMobileSearchDates {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      a {
        font-size: 25px;
        color: #313641;
        -webkit-font-smoothing: antialiased;
      }
      .global-nav__tel, .nav__tel {
        padding: 0 0 0 35px;
      }
      .global-nav__right {
        position: absolute;
        z-index: -1;
        top: 50px;
        left: 0;
        display: block;
        overflow: hidden;
        //width: 400px;
        height:      calc(100vh - 55px);
        height: -moz-calc(100vh - 55px);
        -webkit-transform: translateY(-120%);
        transform: translateY(-120%);
        background: #313641;
        margin-left: auto;
        //padding-top: 17px;
        .navbar-left, .navbar-right {
          li {
            padding: 15px;
            border-bottom: 1px solid #f1f1f1;

          }
          a {
            color: #f1f1f1;
          }
        }

        #openSearch { display: none; }
        #openSearchInNav {
          overflow: hidden;
          width: 0;
          height: 0;
          padding: 0;
        }
      }
      .global-nav__banner {
        display: none !important;
      }
      .mbl-btn-search {
        font-size: 12px;

        position: absolute;
        z-index: 1000;
        top: 0;
        right: 0;

        display: block;

        width: 50px;
        height: 50px;
        padding: 17.5px 0;

        -webkit-transition: border-left .3s;
        transition: border-left .3s;

        border-left: 1px solid #fff;
        span {
          position: relative;
          z-index: 60;

          display: block;

          width: 15px;
          height: 1px;
          margin: 3px auto;

          opacity: 0;
          background: #fff;
          &:nth-child(2) {
            opacity: 0;
          }
        }
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;

          -webkit-transition: -webkit-transform .3s;
          transition: -webkit-transform .3s;
          transition:         transform .3s;
          transition:         transform .3s, -webkit-transform .3s;
          -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
        }
        &.open {
          border-left: 1px solid #dfdfdf;
          &:before {
            -webkit-transform: translate(-50%, -50%) scale(0, 0);
            transform: translate(-50%, -50%) scale(0, 0);
          }
        }
      }
      .mbl-search-background {
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 50px;
        height: 0;

        background: #312f3c;
      }
      .mbl-btn-nav {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 50px;
        height: auto;
        padding: 17.5px 0;
        span {
          position: relative;
          z-index: 2;

          display: block;

          width: 15px;
          height: 1px;
          margin: 3px auto;

          background: #312f3c;
          &:nth-child(4) {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;

            width: 50px;
            height: 0;
            margin: 0;

            background: #312f3c;
          }
        }
      }
    }
    &.stuck .logo {
      display: block;
      &.logo-stuck {
        display: none;
      }
      .inner {
        .global-nav__tel, .nav__tel, .icon_search {
          color: #313641;
        }
      }
    }
    .logo-text {
      height: 50px;
      line-height: 50px;

    }
    .logo-text-small { display: none; }
    .mbl-search-menu-title {
      font-family: adobe-garamond-pro,sans-serif;
      font-size: 12px;

      z-index: 70;
      top: 17px;

      width: 100%;
      height: auto;

      text-align: center;
      letter-spacing: .15em;

      color: #fff;

      -webkit-font-smoothing: antialiased;
    }
    .mbl-search-menu {
      width: 100vw;
      height: 100vh;
    }
    .mbl-search-menu section {
      .select-box {
        z-index: 1;
      }
    }
  }
  .global-nav__destinations {
    display: none;
  }
  .sign-in-link {
    top: 21px!important;
  }
  .explorer__help-modal {
    .explorer__phone {
      .inner {
        background: transparent;
        color: #000;
        display: block;
        width: auto;
        height: auto;
        text-align: right;
        padding: 12px 15px;
        text-align: center;
        &:hover, &.open {
          background: transparent;
        }
        .icon { display: block; }
        .text { display: none; }
      }
      &.animate {
        padding: 4px 0;
        top: -50px;
        .icon {
          color: #000;
        }
      }
    }
    .explorer__help-modal-inner {
      top: 30px!important;
    }
    .explorer__help-modal-inner__copy .css_triangle-up {
      right: 0!important;
    }
  }
  #openSearchInNav { display: none; }

  section.home-page {
    .global-nav {
      top: 0;
    }
    .home__hero-wrapper {
      top: 50px;
    }
  }
  .home__retreat-search .choices-search {
    .check-in, .check-out, .home__search__bedrooms-dropdown {
      display: none!important;
    }
  }
}
/*Desktop Only*/
@media screen and (min-width: 1281px){
  .logo-text img {
    width: auto;
  }
  .global-nav {
    .logo  {
      width: 26%;
      padding: 0 2%;
      position: absolute;
      margin: 30px 31%;
      text-align: center;
    }
    & > .inner {
      padding: 0 4.5%;
      // 100% = [(3 + 32) + (2 + 26 + 2) + 35]%
      .icon_search { float: left; width: 3%; }
      .navbar-left { float: left; width: 32%; }
      .navbar-brand { width: 26%; padding: 0 2%; }
      .navbar-right { float: right; width: 35%; }

      // Styles
      .icon_search {
        font-size: 20px;
        margin-top: 2px;
        margin-left: 0;
        margin-right: 10px;
      }
      .navbar-left, .navbar-right {
        li {
          font-size: 15px;
          font-size: .9375rem;
          position: relative;
          margin-right: 20px;
          -webkit-transition: color .2s ease;
          transition: color .2s ease;
          color: #313641;
          &:after {
            position: absolute;
            bottom: -2px;
            display: block;
            width: 0;
            height: 2px;
            content: '';
            -webkit-transition: width .4s ease-out 0s;
            transition: width .4s ease-out 0s;
            background-color: #313641;
          }
          &:hover, .active {
            &:after {
              width: 100%;
            }
          }

          display: inline-block;
          float: left;
        }
      }
      .navbar-brand {
        position: absolute;
        margin: 0 auto;
        text-align: center;
        top: 31px;
      }

      .mbl-btn-nav {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 50px;
        height: auto;
        padding: 17.5px 0;

        span {
          position: relative;
          z-index: 2;
          display: block;
          width: 15px;
          height: 1px;
          margin: 3px auto;
          background: #312f3c;
        }
      }
      .global-nav__search-wrapper {
        left: 0;
      }
      .global-nav__right { padding-top: 40px; }
      a {
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    &.sticky-top-nav {
      height: 50px;
      background-color: $gray-dark!important;
      border-color: $gray-dark;
      -webkit-transition: background 0.5s linear;
      -moz-transition: background 0.5s linear;
      -ms-transition: background 0.5s linear;
      -o-transition: background 0.5s linear;
      transition: background 0.5s linear;

      max-width: 100%;
      margin: 0 auto;

      .logo {
        margin: 16px 31%;
      }

      .main-menu__link-list li,
      .logo-text-small,
      .inner {
        .global-nav__right {
          padding-top: 20px;
        }
        .icon_search {
          color: #fff!important;
        }
        .navbar-left, .navbar-right {
          li {
            color: #fff;
            a.active {
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
      .sign-in-link, .logo-text-small{
        display: none;
      }
      .explorer__help-modal .explorer__phone {
        .inner {
          background: #fff!important;
          color: #000!important;
        }
      }
    }
  }
  .global-nav__destinations {
    margin-left: 8%;
    top: 100px;
    &.show {
      padding: 8px 8px 8px 0;
      .global-nav__destinations__destination-list-wrapper {
        height: 300px;
      }
    }
    overflow: visible;
    height: 315px;
    width: 400px;
    top: 75px;
    @include box-shadow();
  }
  .explorer__help-modal {
    .explorer__phone {
      width: auto;
      height: auto;
      .inner {
        display: block;
        border-radius: 0;
        padding: 8px 20px;
        color: #fff;

        // custom
        top: -16px;
        position: absolute;
        right: 0;
        width: 98px;
        height: 32px;

        .icon { display: none; }
        .text {
          text-transform: uppercase;
          font-size: 12px;
        }
        &.open {
          color: #000;
        }
      }
    }
  }
  .booking-widget.stuck {
    .booking-widget__global-nav-stuck {
      .inner {
        .navbar-left, .navbar-right {
          li {
            color: #fff;
          }
        }
      }
    }
  }
}

