/*Responsive: Global Starts*/
@media (max-width: 769px)
{
  html.no-scroll-mobile
  {
    overflow: hidden;
  }
}

@media (max-width: 769px)
{
  .page-body,
  footer.footer,
  nav.global-nav
  {
    min-width: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px)
{
  .page-body,
  footer.footer,
  nav.global-nav
  {
    min-width: 1024px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px)
{
  input[type='text'],
  input[type='email'],
  input[type='search'],
  input[type='password']
  {
    -webkit-appearance: caret;
    -moz-appearance: caret;
    /* mobile firefox too! */
  }
}

@media (max-width: 769px)
{
  .page-body
  {
    margin-top: 50px;
  }
}

@media (max-width: 769px)
{
  p.intro
  {
    font-size: 13px;
    font-size: .8125rem;
    line-height: 18px;
  }
}

@media (max-width: 769px)
{
  time
  {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}
/*Responsive: Global Ends*/

/*Responsive: Header Starts*/
@media (max-width: 769px)
{
  h1.title,
  .heading-1.title
  {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 1;
  }
}
@media (max-width: 769px)
{
  h1.title__caps,
  .heading-1.title__caps
  {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
@media (max-width: 769px)
{
  h3.title,
  .heading-3.title
  {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media (max-width: 769px)
{
  h5.title,
  .heading-5.title
  {
    font-size: 8px;
    font-size: .5rem;
  }
}
/*Responsive: Header Ends*/

/*Responsive: Helpers Starts*/
@media (max-width: 769px)
{
  .blue-bar
  {
    padding: 6px 35px;
  }
}
@media (max-width: 1280px)
{
  .quote
  {
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 29px;
  }
}
/*Responsive: Helpers Ends*/

/*Responsive: Other Starts*/
@media (max-width: 769px)
{
  .qv__mobile .btn:not(.quickview)
  {
    width: 100%;
  }
}

@media (max-width: 769px)
{
  .qv__mobile .quickview
  {
    display: none;
  }
}
/*Responsive: Other Ends*/

/*Responsive: components*/
/*Responsive: site*/

