section.content-grid__multi
{
  background-color: #efefef;
}
section.content-grid__multi .content-grid__multi-wrapper
{
  position: relative;

  margin-bottom: 2px;
}
section.content-grid__multi .content-grid__multi-wrapper .content-grid__caption
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  position: absolute;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  letter-spacing: .18rem;
  text-transform: uppercase;

  color: #cfd1d4;
}
section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy
{
  position: absolute;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 50%;
  height: 100%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy .inner
{
  z-index: 1;

  width: 100%;
  padding: 50px;

  background-color: #fff;
  background-color: #fff;
}
section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy .inner .subtitle
{
  margin-bottom: 20px;
}
section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy p.intro
{
  margin-bottom: 15px;
}
section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy .content-grid__multi-copy__cta
{
  margin-top: 30px;
}
section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy .content-grid__multi-copy__cta .strike:first-child
{
  margin-right: 38px;
}
section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy .content-grid__multi-copy__cta .strike:last-child
{
  margin-right: 38px;
}
section.content-grid__multi .content-grid__multi-wrapper .content-listing__map
{
  width: 72.6%;
  margin-left: auto;
}
.content-grid__secondary .instagram-row
{
  width: 55%;
}
.content-grid__secondary .instagram-row .instagram-block:first-child
{
  margin-right: 1px;
}
.content-grid__secondary .instagram-row .instagram-block:last-child
{
  margin-left: 1px;
}
.content-grid__secondary .content-grid__secondary__quote
{
  width: 45%;
}
.content-grid__secondary .content-grid__secondary__quote .quote-block blockquote
{
  margin-bottom: 20px;
}
.content-grid__secondary .content-grid__secondary__quote .strike
{
  z-index: 0;
}
.content-grid__secondary .content-grid__secondary__quote.no-instagram
{
  width: 100%;
}
.content-grid__secondary .content-grid__secondary__quote.no-instagram blockquote
{
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}
.content-grid__secondary .content-grid__secondary__quote.no-instagram .avatar-block
{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content-grid__secondary .content-grid__secondary__quote.no-instagram
{
  width: 100%;
}
.content-grid__secondary .content-grid__secondary__quote.no-instagram blockquote
{
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}
.content-grid__secondary .content-grid__secondary__quote.no-instagram .avatar-block
{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content-grid__quote .content-grid__quote-wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 620px;
}
.content-grid__quote .content-grid__quote-wrapper__quote-image
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;
  padding-right: 1px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.content-grid__quote .content-grid__quote-wrapper__quote-image .quote-block
{
  height: 50%;
  padding: 60px 20px 20px 70px;
}
.content-grid__quote .content-grid__quote-wrapper__quote-image .content-grid__quote-wrapper__quote-image__image
{
  position: relative;

  width: 100%;
  height: 310px;

  -ms-flex-item-align: center;
  align-self: center;
}
.content-grid__quote .content-grid__quote-wrapper__quote-image .content-grid__quote-wrapper__quote-image__image .inner
{
  height: 100%;
}
.content-grid__quote .content-grid__quote-wrapper__quote-image .content-grid__quote-wrapper__quote-image__image .caption
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  position: absolute;
  top: 10px;
  left: -20px;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  letter-spacing: .12rem;
  text-transform: uppercase;

  color: #cfd1d4;
}
.content-grid__quote .content-grid__quote-wrapper__image
{
  position: relative;

  width: 50%;
  height: 100%;
  padding-left: 1px;
}
.content-grid__quote .content-grid__quote-wrapper__image .inner
{
  height: 100%;
}
.content-grid__quote .content-grid__quote-wrapper__image .caption
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  position: absolute;
  top: 50px;
  right: -434px;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  letter-spacing: .12rem;
  text-transform: uppercase;

  color: #cfd1d4;
}
section.content-grid__event
{
  background-color: #efefef;
}
section.content-grid__event .content-grid__event-wrapper
{
  position: relative;

  margin-bottom: 2px;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy
{
  position: absolute;
  top: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 100%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner
{
  width: 50%;
  padding: 50px;

  background-color: #fff;
  background-color: #fff;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner header,
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner hgroup
{
  position: relative;

  margin-bottom: 50px;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner header > h3,
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner header > .heading,
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner hgroup > h3,
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner hgroup > .heading
{
  padding-bottom: 1rem;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner header > span.underline,
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy p.intro
{
  margin-bottom: 15px;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .content-grid__event-copy__cta
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;
  font-weight: normal;
  font-style: normal;

  letter-spacing: .15rem;
  text-transform: uppercase;

  color: #313641;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .content-grid__event-copy__cta
{
  margin-top: 30px;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .content-grid__event-copy__cta .strike:first-child
{
  margin-right: 38px;
}
section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .content-grid__event-copy__cta .strike:last-child
{
  margin-right: 38px;
}
section.content-grid__event .content-grid__event-wrapper .content-listing__image
{
  width: 72.6%;
  margin-left: auto;
}
section.content-grid__event.right .content-grid__event-wrapper .content-grid__event-copy
{
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
section.content-grid__event.right .content-listing__image
{
  width: 72.6%;
  margin-right: auto;
  margin-left: 0;
}


