aside.retreat-detail__enquiry-window
{
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  width: 100%;
  max-width: 1480px;
  height: 100%;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, .4);

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window
  {
    z-index: 700;
    top: 50px;

    width: 100%;
    height: 100%;

    background-color: transparent;
  }
}
aside.retreat-detail__enquiry-window.show
{
  display: block;

  -webkit-animation: fadeInFromNone .5s ease-in-out;
  animation: fadeInFromNone .5s ease-in-out;
}
aside.retreat-detail__enquiry-window > .wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  height: 100%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window > .wrapper
  {
    height: 100%;
  }
}
aside.retreat-detail__enquiry-window .enquiry__container
{
  position: relative;

  width: 50%;
  min-width: 750px;
  padding: 65px;

  background-color: #fff;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window .enquiry__container
  {
    width: 100%;
    min-width: 0;
    height: 100%;
    padding: 70px 25px 25px;
  }
}
@media (max-height: 500px)
{
  aside.retreat-detail__enquiry-window .enquiry__container
  {
    padding: 35px;
  }
}
aside.retreat-detail__enquiry-window .enquiry__container > header
{
  font-style: italic;

  margin-bottom: 24px;

  border-bottom: 1px solid #abaeb3;
}
aside.retreat-detail__enquiry-window .enquiry__container .btn__close
{
  position: absolute;
  top: 0;
  right: -45px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 45px;
  height: 45px;

  cursor: pointer;

  color: #fff;
  color: white;
  border: none;
  background-color: #313641;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window .enquiry__container .btn__close
  {
    font-family: proxima-nova, sans-serif;
    font-size: 10px;
    font-size: .625rem;

    right: 0;

    width: 100%;
    height: 45px;

    letter-spacing: .18rem;
    text-transform: uppercase;
  }
}
aside.retreat-detail__enquiry-window .enquiry__container .btn__close .text
{
  display: none;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window .enquiry__container .btn__close .text
  {
    font-family: proxima-nova, sans-serif;

    display: inline;
  }
}
aside.retreat-detail__enquiry-window .enquiry__container .btn__close .icon
{
  display: inline-block;
}
aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .cal-wrapper
{
  position: relative;

  width: 50%;
  margin-right: 5px;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .cal-wrapper
  {
    width: 100%;
    margin: 0;
  }
}
aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .cal-wrapper:last-child
{
  margin-right: 0;
  margin-left: 5px;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .cal-wrapper:last-child
  {
    margin: 10px 0 0 0;
  }
}
aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .cal-wrapper input
{
  width: 100%;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .cal-wrapper input
  {
    margin-bottom: 0;
  }
}
aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .cal-wrapper .icon
{
  font-size: 6px;

  position: absolute;
  top: 18px;
  right: 15px;
}
aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form input
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  letter-spacing: .15rem;

  border: 1px solid #abaeb3;
}
aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form textarea
{
  width: 100%;
  height: 100px;
  padding-top: 16px;
  padding-left: 20px;

  resize: none;

  border: 1px solid #abaeb3;
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form textarea
  {
    height: 50px;
  }
}
@media (max-width: 769px)
{
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .btn__blue
  {
    width: 100%;
  }
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .btn__blue ::-webkit-input-placeholder
  {
    text-align: center;
  }
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .btn__blue :-moz-placeholder
  {
    /* Firefox 18- */
    text-align: center;
  }
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .btn__blue ::-moz-placeholder
  {
    /* Firefox 19+ */
    text-align: center;
  }
  aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form .btn__blue :-ms-input-placeholder
  {
    text-align: center;
  }
}
aside.retreat-detail__enquiry-window .retreat-detail__enquiry-form > ::-webkit-input-placeholder
{
  text-align: center;
}