nav.global-nav > .inner .global-nav__banner
{
  position: absolute;
  top: -45px;
  right: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 45px;

  background-color: #5e6777;
}
@media (max-width: 769px)
{
  nav.global-nav > .inner .global-nav__banner
  {
    display: none !important;
  }
}
nav.global-nav > .inner .global-nav__banner .inner,
nav.global-nav > .inner .global-nav__banner .global-nav__banner__country-select
{
  height: 100%;
}
nav.global-nav > .inner .global-nav__banner .inner
{
  position: relative;
}
nav.global-nav > .inner .global-nav__banner .icon_close
{
  font-size: 12px;
  font-size: .75rem;

  position: absolute;
  position: absolute;
  top: 15px;
  right: 40px;

  cursor: pointer;

  color: #fff;
}
nav.global-nav > .inner .global-nav__banner .global-nav__banner__country-select
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
nav.global-nav > .inner .global-nav__banner #initCountrySelect
{
  position: relative;

  cursor: pointer;
}
nav.global-nav > .inner .global-nav__banner .global-nav__banner__country-dropdown
{
  position: absolute;
  top: 29px;
  left: 0;

  overflow: hidden;

  width: auto;
  max-height: 0;
  padding: 0 15px;

  -webkit-transition: max-height .35s ease-in-out;
  transition: max-height .35s ease-in-out;
  text-align: center;
  text-transform: capitalize;

  background-color: #5e6777;
}
nav.global-nav > .inner .global-nav__banner .global-nav__banner__country-dropdown.open
{
  max-height: 500px;
}
nav.global-nav > .inner .global-nav__banner .global-nav__banner__country-dropdown li
{
  padding-top: 15px;
}
nav.global-nav > .inner .global-nav__banner .global-nav__banner__country-dropdown li:last-child
{
  padding-bottom: 15px;
}
nav.global-nav > .inner .global-nav__banner .global-nav__banner__country-dropdown li .strike
{
  color: #fff;
}
nav.global-nav > .inner .global-nav__banner h5
{
  text-align: center;

  color: #fdfdfd;
}
nav.global-nav > .inner .global-nav__banner h5 .country-select__dropdown-value
{
  font-size: 15px;
  font-size: .9375rem;
  font-style: italic;

  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 0rem;
  text-transform: capitalize;
}
nav.global-nav > .inner .global-nav__banner h5 .icon_carrot-down
{
  font-size: 6px;
  font-size: .375rem;

  vertical-align: middle;
}