@media (max-width: 769px)
{
  /*Subash Maharjan*/
  nav.global-nav > .inner ul#main-menu
  {
    display: block;

    padding: 47.5px 0 0 35px;
  }
  nav.global-nav > .inner ul#main-menu #openSearch
  {
    display: none;
  }
}
/*Subash Maharjan*/
nav.global-nav > .inner ul#main-menu li
{
  font-size: 15px;
  font-size: .9375rem;

  position: relative;

  margin-right: 20px;

  -webkit-transition: color .2s ease;
  transition: color .2s ease;

  color: #313641;
}
nav.global-nav > .inner ul#main-menu li:after
{
  position: absolute;
  bottom: -2px;

  display: block;

  width: 0;
  height: 2px;

  content: '';
  -webkit-transition: width .4s ease-out 0s;
  transition: width .4s ease-out 0s;

  background-color: #313641;
}
@media (max-width: 769px)
{
  nav.global-nav > .inner ul#main-menu li:after
  {
    display: none;
  }
}
nav.global-nav > .inner ul#main-menu li:hover:after,
nav.global-nav > .inner ul#main-menu li.active:after
{
  width: 100%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
  nav.global-nav > .inner ul#main-menu li a
  {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
@media (max-width: 769px)
{
  nav.global-nav > .inner ul#main-menu li
  {
    padding: 0 0 10px 0;
  }
}