nav.global-nav.stuck
{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  height: 45px;

  background-color: #313641;
}
nav.global-nav.stuck > .inner .global-nav__retreat_search .home__retreat-search > .wrapper .home__search__dropdown
{
  top: 45px;
}
nav.global-nav.stuck > .inner .global-nav__retreat_search .home__retreat-search > .wrapper .home__search__dropdown.list
{
  top: 35px;
}
nav.global-nav.stuck > .inner .global-nav__retreat_search .home__retreat-search > .wrapper .home__search__dropdown .global-nav__destinations__destination-list-wrapper .arrow-up-destination-list
{
  top: -257px;
}
nav.global-nav.stuck .logo
{
  display: none;
}
@media (max-width: 769px)
{
  nav.global-nav.stuck .logo
  {
    display: block;
  }
}
nav.global-nav.stuck .logo.logo-stuck
{
  display: block;

  height: 100%;

  background: url('../images/logo_white.svg') center center no-repeat;
  background-size: contain;
}
@media (max-width: 769px)
{
  nav.global-nav.stuck .logo.logo-stuck
  {
    display: none;
  }
}
nav.global-nav.stuck .global-nav__retreat_search .global-nav__book-now-close
{
  width: 35px;
  height: 35px;
  margin-top: 4px;
  padding-left: 3px;
}
nav.global-nav.stuck .home__retreat-search
{
  height: 44px;
}
nav.global-nav.stuck .home__retreat-search-container header
{
  margin-top: 0;
}
nav.global-nav.stuck .home__retreat-search-container header .underline
{
  display: none;
}
nav.global-nav.stuck .home__retreat-search-container .home__search__dropdown-title > h3
{
  margin-top: 0;
}
nav.global-nav.stuck .home__retreat-search-container .initHomeRetreatSearch
{
  height: 35px;
  margin-top: 4px;
}
nav.global-nav.stuck .inner ul#main-menu li
{
  color: #fff;
}
nav.global-nav.stuck .inner ul#main-menu li a.active
{
  border-bottom: 1px solid #fff;
}
nav.global-nav.stuck .inner .global-nav__tel,
nav.global-nav.stuck .inner .nav__tel,
nav.global-nav.stuck .inner .icon_search
{
  color: #fff;
}
@media (max-width: 769px)
{
  nav.global-nav.stuck .inner .global-nav__tel,
  nav.global-nav.stuck .inner .nav__tel,
  nav.global-nav.stuck .inner .icon_search
  {
    color: #313641;
  }
}
nav.global-nav.stuck .inner .global-nav__destinations
{
  top: 45px;
}
nav.global-nav.stuck .inner .book-now-btn
{
  height: auto;
}