.instagram-row
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
}
.instagram-row .instagram-block
{
  font-weight: 100;
  font-style: normal;

  position: relative;

  width: 50%;
  height: 320px;

  color: #fff;
  background-size: cover;
}
@media (max-width: 769px)
{
  .instagram-row .instagram-block
  {
    height: 160px;

    background-position: top !important;
    /* (853 / 1280 * 100) */
    background-size: contain !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
  .instagram-row .instagram-block
  {
    height: 380px;
  }
}
.instagram-row .instagram-block:first-child
{
  padding-right: 1px;
}
.instagram-row .instagram-block .instagram-block__cta
{
  position: absolute;
  top: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 32px;
  height: 32px;

  background-color: #313641;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 769px)
{
  .instagram-row .instagram-block .instagram-block__cta
  {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 769px)
{
  .instagram-row .instagram-block .instagram-block__cta .icon_instagram
  {
    font-size: 8px;
    font-size: .5rem;
  }
}
.instagram-row .instagram-block .instagram-block__cta .instagram-block__cta-handle
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  padding: 10px;

  letter-spacing: .2rem;
  text-transform: uppercase;

  background-color: #3d4451;
}