body.home-page .explorer__help-modal
{
  top: 160px;
}

body.mobile .explorer__help-modal
{
  display: none;
}

.explorer__help-modal-container
{
  position: fixed;
  z-index: 400;
  top: 120px;
  right: 0;
  left: 0;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 40px;

  text-align: right;
}

//@media (max-width: 769px)
//{
//  .explorer__help-modal
//  {
//    display: none;
//  }
//}

.explorer__help-modal > .wrapper
{
  position: relative;
}

.explorer__help-modal .explorer__phone
{
  width: 50px;
  height: 50px;
  padding: 8px;

  cursor: pointer;
}
@media only screen and (min-width: 600px) and (max-width: 1024px)
{
  .explorer__help-modal .explorer__phone
  {
    width: 40px;
    height: 40px;
  }
}
.explorer__help-modal .explorer__phone .inner
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  height: 100%;

  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;

  border-radius: 100px;
  background-color: #313641;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.explorer__help-modal .explorer__phone .inner:hover
{
  background-color: #cfd1d4;
}
.explorer__help-modal .explorer__phone .inner:hover .icon
{
  color: #313641;
}
.explorer__help-modal .explorer__phone .icon
{
  font-size: 12px;
  font-size: .75rem;

  -webkit-transition: color .3s ease;
  transition: color .3s ease;

  color: #fff;
}
.explorer__help-modal .explorer__phone .inner.open
{
  background-color: #cfd1d4;
}
.explorer__help-modal .explorer__phone .inner.open .icon
{
  color: #313641;
}

.explorer__help-modal .explorer__help-modal-inner
{
  position: absolute;
  top: 60px;
  right: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;

  padding: 12px;

  opacity: 0;
  color: #fff;
  background-color: #fff;
  box-shadow: 0 0 33px -2px rgba(0, 0, 0, .75);

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.explorer__help-modal .explore-team-block__avatar
{
  width: 55px;
  height: 55px;
  margin-right: 10px;
  padding: 1px;

  border: 1px solid #abaeb3;
}

.explorer__help-modal .explorer__help-modal-inner__copy
{
  position: relative;
}
.explorer__help-modal .explorer__help-modal-inner__copy p
{
  white-space: nowrap;
}
.explorer__help-modal .explorer__help-modal-inner__copy .css_triangle-up
{
  position: absolute;
  top: -27px;
  right: 6px;
}

.about__explorer-modal
{
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  max-width: 1480px;
  margin: 0 auto;

  opacity: 0;
  background-color: rgba(0, 0, 0, .4);

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.about__explorer-modal > .wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  height: auto;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about__explorer-modal .about__explorer-modal__close
{
  position: absolute;
  top: 0;
  right: -45px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 45px;
  height: 45px;

  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;

  color: #fff;
  background-color: #313641;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about__explorer-modal .inner
{
  position: relative;

  width: 70%;
  padding: 50px;

  background-color: #fff;
}
.about__explorer-modal .about__explorer-modal__introduction
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about__explorer-modal .about__explorer-modal__introduction .about__explorer-modal__introduction__title
{
  width: calc(100% - 165px);
}
.about__explorer-modal .about__explorer-modal__introduction h3.title
{
  font-style: italic;

  padding-left: 35px;

  color: #313641;
  border-bottom: 1px solid #efefef;
}
.about__explorer-modal .about__explorer-modal__introduction h6.title
{
  line-height: 34px;

  margin-bottom: 5px;
  padding-left: 35px;

  letter-spacing: .25rem;
  text-transform: uppercase;

  color: #313641;
}
.about__explorer-modal .about__explorer-modal__copy
{
  margin-left: 200px;
  padding-right: 55px;
}
.about__explorer-modal .about__explorer-modal__copy .about__explorer-modal__copy__quote
{
  margin-bottom: 35px;
}
.about__explorer-modal .about__explorer-modal__copy .about__explorer-modal__copy__quote p
{
  font-size: 15px;
  font-size: .9375rem;
  font-style: italic;
  line-height: 18px;

  letter-spacing: -.01rem;

  color: #313641;
}
.about__explorer-modal .about__explorer-modal__copy .about__explorer-modal__copy__bio
{
  font-size: 15px;
  font-size: .9375rem;
  line-height: 27px;

  letter-spacing: -.01rem;

  color: #313641;
}
.about__explorer-modal .about__explorer-modal__cta
{
  margin-top: 35px;
  margin-left: 200px;
}
.about__explorer-modal .about__explorer-modal__cta h6
{
  font-family: 'adobe-garamond-pro',sans-serif;
  font-size: 15px;
  font-size: .9375rem;
  font-weight: 700;
  font-style: italic;

  margin-bottom: 7px;

  letter-spacing: -.01rem;
}
.about__explorer-modal .about__explorer-modal__cta .about__explorer-modal__cta__contact
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;
  font-weight: 100;
  font-style: normal;

  letter-spacing: .25rem;
  text-transform: uppercase;

  color: #313641;
}
.about__explorer-modal .about__explorer-modal__cta .about__explorer-modal__cta__contact a
{
  font-family: inherit;
  font-size: 10px;
  font-size: .625rem;
  font-weight: inherit;
  font-style: inherit;

  letter-spacing: .25rem;

  color: inherit;
}