body.ie11 .explorer__help-modal-container .explorer__help-modal-inner
{
  width: 300px;
}

body.ie11 section.destination-listing .destination-listing__hero-copy h1
{
  width: 100%;
  padding: 0 20%;
}

body.ie11 .explorer__help-modal-inner
{
  width: 300px;
}