section.journal-article .wrapper .journal-article__hero
{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  max-width: 1440px;
  height: calc(100vh);
  margin: 0 auto;

  background-size: cover;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__hero
  {
    height: 80vh;
  }
}

section.journal-article .wrapper .journal-article__content
{
  position: relative;
  z-index: 5;

  margin-top: calc(100vh - 260px);
  padding: 80px 0;

  background-color: #fff;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content
  {
    margin-top: 80vh;
    padding: 25px 0 35px;
  }
}
section.journal-article .wrapper .journal-article__content > hgroup
{
  width: 50%;
  margin: 0 auto 82px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content > hgroup
  {
    width: 70%;
    margin: 0 auto 24px;
  }
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content > hgroup h1.title
  {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
  }
}
section.journal-article .wrapper .journal-article__content > hgroup .title
{
  text-align: center;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content p.intro
  {
    font-size: 13px;
    font-size: .8125rem;
    line-height: 18px;
  }
}
section.journal-article .wrapper .journal-article__content p.paragraph
{
  width: 51%;
  margin: 0 auto 30px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content p.paragraph
  {
    font-size: 12px;
    font-size: .75rem;
    line-height: 16px;

    width: 100%;
    padding: 0 10.9375%;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__meta
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  width: 51%;
  margin: 0 auto;

  letter-spacing: .2rem;

  color: #cfd1d4;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__meta
  {
    width: 100%;
    padding: 0 10.9375% 30px;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__meta .content__meta-author
{
  display: block;

  margin-bottom: 22px;
}
section.journal-article .wrapper .journal-article__content .journal-article__content__meta .journal-article__content__meta-share
{
  margin-top: 12px;
}
section.journal-article .wrapper .journal-article__content aside.journal-article__content__quote
{
  padding: 30px 0 60px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content aside.journal-article__content__quote
  {
    padding: 0 10.9375% 35px;
  }
}
section.journal-article .wrapper .journal-article__content aside.journal-article__content__quote p.quote
{
  width: 64.23611111111112%;
  margin-bottom: 8px;
  padding-left: 15.208333333333332%;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content aside.journal-article__content__quote p.quote
  {
    width: 100%;
    padding-left: 0;
  }
}
section.journal-article .wrapper .journal-article__content aside.journal-article__content__quote cite.subheader
{
  display: block;

  width: 51%;
  margin: 0 auto;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content aside.journal-article__content__quote cite.subheader
  {
    width: 100%;
    padding-left: 10.9375%;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__gallery
{
  margin: 100px 0 6.944444444444445% 100px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__gallery
  {
    margin: 0;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__list
{
  margin-bottom: 22px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__list
  {
    margin-bottom: 0;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner
{
  width: 51%;
  margin: 0 auto;
}
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner header,
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner header,
  section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner hgroup
  {
    margin-bottom: 35px;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner header > h3,
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner header > .heading,
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner hgroup > h3,
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner hgroup > .heading
{
  padding-bottom: 1rem;
}
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner header > span.underline,
section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__list .inner
  {
    width: 100%;
    padding: 0 10.9375%;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat
{
  padding: 85px 10.13889% 120px;
}
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat header,
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat header,
  section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat hgroup
  {
    margin-bottom: 35px;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat header > h3,
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat header > .heading,
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat hgroup > h3,
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat hgroup > .heading
{
  padding-bottom: 1rem;
}
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat header > span.underline,
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat
  {
    padding: 50px 4.6875% 30px;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat header
{
  margin-bottom: 60px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat header
  {
    margin-bottom: 35px;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat .wrapper
{
  position: relative;

  padding: 70px 0;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat .wrapper
  {
    padding: 0;
  }
}
section.journal-article .wrapper .journal-article__content .journal-article__content__related-retreat .wrapper .retreat-listing__block
{
  margin-bottom: 0;
}
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles
{
  padding: 90px 10.13889% 100px;

  background-color: #efefef;
}
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles header,
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles header,
  section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles hgroup
  {
    margin-bottom: 35px;
  }
}
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles header > h3,
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles header > .heading,
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles hgroup > h3,
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles hgroup > .heading
{
  padding-bottom: 1rem;
}
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles header > span.underline,
section.journal-article .wrapper .journal-article__content section.journal-article__content__related-articles hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}

section.journal-listing .filter-link-container
{
  padding-top: 15px;
}

section.journal-listing .wrapper > .journal-listing__featured-article
{
  margin-bottom: 100px;
  padding: 0 15.27778%;
}

section.journal-listing .wrapper .journal-listing__hero
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 540px;
  margin-bottom: 70px;

  color: #fff;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 769px)
{
  section.journal-listing .wrapper .journal-listing__hero
  {
    height: calc(100vh - 50px);
    margin-bottom: 60px;
  }
}
section.journal-listing .wrapper .journal-listing__hero hgroup .intro,
section.journal-listing .wrapper .journal-listing__hero hgroup h1
{
  text-align: center;

  color: #fff;
}
section.journal-listing .wrapper .journal-listing__hero hgroup h1
{
  width: 59%;
  margin: 0 auto 14px;
}
section.journal-listing .wrapper .journal-listing__hero hgroup .intro
{
  width: 60%;
  margin: 0 auto;
}
section.journal-listing .wrapper .journal-listing__hero hgroup a
{
  font-family: 'adobe-garamond-pro',sans-serif;
  font-weight: 700;
  font-style: italic;
}

@media (max-width: 769px)
{
  section.journal-listing .wrapper .journal-listing__featured-article
  {
    margin-bottom: 60px;
    padding: 0 4.6875%;
  }
}

section.journal-listing .wrapper .filter-block
{
  margin-bottom: 118px;
}

section.journal-listing .wrapper .news-row
{
  padding: 0 15.27778% 100px;
}
@media (max-width: 769px)
{
  section.journal-listing .wrapper .news-row
  {
    padding: 0 4.6875%;
  }
}
section.journal-listing .wrapper .news-row .journal-listing__featured-article
{
  margin-bottom: 100px;
}
section.journal-listing .wrapper .news-row .news-block
{
  margin-bottom: 134px;
}
@media (max-width: 769px)
{
  section.journal-listing .wrapper .news-row .news-block
  {
    margin-bottom: 45px;
    padding: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
  section.journal-listing .wrapper .news-row .news-block
  {
    margin-bottom: 75px;
  }
}
@media (max-width: 769px)
{
  section.journal-listing .wrapper .news-row .image-overlay-block
  {
    margin-bottom: 60px;
    padding: 0 4.6875%;
  }
}

section.journal-listing .wrapper .loader
{
  display: none;
}
section.journal-listing .wrapper .loader.show
{
  display: block;
}

section.journal-listing .wrapper a.btn
{
  margin: 0 auto;
}