.autocomplete-suggestions
{
  overflow: auto;

  border: 1px solid #cfd1d4;
  background: #fff;
}

.autocomplete-suggestion
{
  overflow: hidden;

  padding: 2px 5px;

  white-space: nowrap;
}

.autocomplete-selected
{
  background: #efefef;
}

.autocomplete-suggestions strong
{
  font-weight: normal;

  color: #e0ca70;
}

.autocomplete-group
{
  padding: 2px 5px;
}

.autocomplete-group strong
{
  display: block;

  border-bottom: 1px solid #000;
}