.btn
{
  font-family: 'proxima-nova', sans-serif;
  font-weight: normal;
  font-style: normal;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  cursor: pointer;
  text-align: center;
  letter-spacing: .2rem;
  text-transform: uppercase;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn__square
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 45px;
  height: 45px;

  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;

  color: #fff;
  background-color: #313641;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 30px;
}
.btn-wrapper .btn
{
  margin: 0;
}
.btn-wrapper .btn:last-child
{
  margin-left: -1px;
}

.btn__transparent
{
  font-size: 10px;
  font-size: .625rem;
  font-weight: 100;

  width: 150px;
  height: 45px;

  -webkit-transition: all .2s ease;
  transition: all .2s ease;

  border: 1px solid #cfd1d4;
  background-color: rgba(255, 255, 255, .15);
}
@media (max-width: 769px)
{
  .btn__transparent
  {
    width: 78%;
  }
}

body.desktop .btn__transparent:hover
{
  color: #fff;
  background-color: #5e6777;
}

.btn__transparent.btn__transparent-padding
{
  width: auto;
  padding: 0 35px;
}

.btn__blue
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  width: 150px;
  height: 45px;

  letter-spacing: .18rem;

  color: #fff;
  background-color: #313641;
}

.btn__play
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 60px;
  height: 60px;

  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;

  border: 1px solid white;
  border-radius: 100px;
  background: rgba(255, 255, 255, .1);

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn__play .icon
{
  -webkit-transition: color .5s ease;
  transition: color .5s ease;

  color: #fff;
}

body.desktop .btn__play:hover
{
  background: #313641;
}

button.ytp-button
{
  border: 0 solid;
  outline: none;
  background: transparent;
}

.ytp-play-button
{
  opacity: .85;

  fill: #fff;
}

body.desktop .ytp-play-button:hover
{
  cursor: pointer;

  opacity: 1;
}