section.toc .hero h1
{
  font-size: 2.125rem;
}

section.toc .toc__information > .wrapper header,
section.toc .toc__information > .wrapper hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  section.toc .toc__information > .wrapper header,
  section.toc .toc__information > .wrapper hgroup
  {
    margin-bottom: 35px;
  }
}
section.toc .toc__information > .wrapper header > h3,
section.toc .toc__information > .wrapper header > .heading,
section.toc .toc__information > .wrapper hgroup > h3,
section.toc .toc__information > .wrapper hgroup > .heading
{
  padding-bottom: 1rem;
}
section.toc .toc__information > .wrapper header > span.underline,
section.toc .toc__information > .wrapper hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}

section.toc .toc__information > .wrapper > ul
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  margin-bottom: 40px;

  border-bottom: 1px solid #efefef;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
section.toc .toc__information > .wrapper > ul li:last-child
{
  margin-left: 10px;
}
section.toc .toc__information > .wrapper > ul .anchor-link
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  letter-spacing: .2rem;
  text-transform: uppercase;
}

section.toc .toc__information article.toc__content
{
  margin-bottom: 100px;
}