.guide-detail .hero
{
  position: fixed;
  z-index: -1;
  top: 100px;
  right: 0;
  left: 0;

  max-width: 1440px;
  height: 250px;
  margin: 0 auto;
}
@media (max-width: 769px)
{
  .guide-detail .hero
  {
    top: 50px;

    height: 130px;
  }
}

.guide-detail .guide-detail__content
{
  margin-top: 350px;
  padding-bottom: 120px;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__content
  {
    margin-top: 180px;
    padding-bottom: 50px;
  }
}

.guide-detail .guide-detail__intro
{
  padding: 0 15.27778%;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__intro
  {
    padding: 0 2.77778%;
  }
}
.guide-detail .guide-detail__intro .explore-team-block__avatar
{
  position: relative;
  top: -70px;

  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: -69px;

  border: 2px solid #efefef;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__intro .explore-team-block__avatar
  {
    top: -27px;

    width: 55px;
    height: 55px;
    margin-bottom: -26px;
  }
}
.guide-detail .guide-detail__intro .explore-team-block__avatar .inner
{
  border: 0;
}
.guide-detail .guide-detail__intro .guide-detail__avater-wrapper
{
  margin-bottom: 22px;
}
.guide-detail .guide-detail__intro h6.title
{
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;
}
.guide-detail .guide-detail__intro h1.title__caps
{
  margin-bottom: 240px;
  margin-bottom: 126px;

  text-align: center;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__intro h1.title__caps
  {
    font-size: 35px;
    font-size: 2.1875rem;

    padding: 0 20px;
  }
}
.guide-detail .guide-detail__intro .filter-block
{
  margin-bottom: 75px;
}
.guide-detail .guide-detail__intro p.intro
{
  margin-bottom: 42px;
  padding: 0 10.13889%;
}
.guide-detail .guide-detail__intro .booking-widget
{
  display: none;

  width: 100%;
  margin-bottom: 80px;
}
.guide-detail .guide-detail__intro .booking-widget .booking-widget__above
{
  margin: 0;
}
.guide-detail .guide-detail__intro .booking-widget > .wrapper
{
  padding: 0;
}
.guide-detail .guide-detail__intro .booking-widget.stuck
{
  display: block;
}
.guide-detail .guide-detail__intro .booking-widget.stuck > .wrapper
{
  padding: 14px 40px 13px;
}

.guide-detail .guide-detail__intro__caption
{
  margin-bottom: 32px;
}

.guide-detail .guide-detail__navigate-down
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  margin-bottom: 126px;

  cursor: pointer;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.guide-detail .guide-detail__navigate-down span
{
  display: inline-block;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.guide-detail .guide-detail__intro__copy-map
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0 10.13889%;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__intro__copy-map
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
.guide-detail .guide-detail__intro__copy-map p,
.guide-detail .guide-detail__intro__copy-map .map-wrapper
{
  width: 50%;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__intro__copy-map p,
  .guide-detail .guide-detail__intro__copy-map .map-wrapper
  {
    width: 100%;
  }
}
.guide-detail .guide-detail__intro__copy-map p
{
  line-height: 27px;

  padding-right: 5%;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__intro__copy-map .map-wrapper
  {
    display: none;
  }
}
.guide-detail .guide-detail__intro__copy-map .map
{
  width: 100%;
  height: 300px;
}

.guide-detail .guide-detail__page-wrapper
{
  padding-top: 100px;

  background-color: #fff;
}
.guide-detail .guide-detail__page-wrapper:nth-child(odd)
{
  background-color: #f4f4f4;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__page-wrapper
  {
    padding-top: 30px;
  }
}
.guide-detail .guide-detail__page-wrapper header
{
  margin-bottom: 100px;

  text-align: center;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__page-wrapper header
  {
    margin-bottom: 0;
  }
}
.guide-detail .guide-detail__page-wrapper .guide-detail__column-wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__page-wrapper .guide-detail__column-wrapper
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
@media (min-width: 769px)
{
  .guide-detail .guide-detail__page-wrapper:nth-child(odd)
  {
    flex-direction: row-reverse;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
  }
  .guide-detail .guide-detail__page-wrapper:nth-child(odd) .guide-detail__column-wrapper
  {
    flex-direction: row-reverse;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
  }
  .guide-detail .guide-detail__page-wrapper:nth-child(odd) .guide-detail__page__column header
  {
    margin-right: 70px;
    margin-left: 15.27778%;
  }
  .guide-detail .guide-detail__page-wrapper:nth-child(odd) .guide-detail__page__column .numbered-list
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .guide-detail .guide-detail__page-wrapper:nth-child(odd) .guide-detail__page__column .numbered-list .numbered-item
  {
    margin-right: 70px;
  }
  .guide-detail .guide-detail__page-wrapper:nth-child(odd) .guide-detail__paragraph
  {
    margin-right: 75px;
    margin-left: auto;
    padding-left: 0;
  }
}

.guide-detail .guide-detail__main-image
{
  margin-bottom: 50px;
}

.guide-detail .guide-detail__page__column
{
  width: 50%;
}
.guide-detail .guide-detail__page__column header,
.guide-detail .guide-detail__page__column hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__page__column header,
  .guide-detail .guide-detail__page__column hgroup
  {
    margin-bottom: 35px;
  }
}
.guide-detail .guide-detail__page__column header > h3,
.guide-detail .guide-detail__page__column header > .heading,
.guide-detail .guide-detail__page__column hgroup > h3,
.guide-detail .guide-detail__page__column hgroup > .heading
{
  padding-bottom: 1rem;
}
.guide-detail .guide-detail__page__column header > span.underline,
.guide-detail .guide-detail__page__column hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__page__column
  {
    width: 100%;
  }
}
.guide-detail .guide-detail__page__column header
{
  margin-top: 75px;
  margin-left: 70px;

  text-align: left;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__page__column header
  {
    margin: 0 30px 30px;
  }
}
.guide-detail .guide-detail__page__column .numbered-list
{
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.guide-detail .guide-detail__page__column .numbered-list .numbered-item
{
  width: 60.2%;
  margin-bottom: 50px;
  margin-left: 70px;
  padding-left: 60px;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__page__column .numbered-list .numbered-item
  {
    margin-bottom: 30px;
    margin-left: 30px;
    padding-left: 0;
  }
}

.guide-detail .guide-detail__paragraph
{
  font-size: 36px;
  font-size: 2.25rem;
  font-style: italic;
  line-height: 42px;

  width: 60.2%;
  margin-bottom: 50px;
  margin-left: 75px;
  padding-left: 60px;

  letter-spacing: -.025rem;

  color: #313641;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__paragraph
  {
    width: 100%;
    margin: 0;
    padding: 0 30px 30px;
  }
}

.guide-detail .guide-detail__image-wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 2px;
}
.guide-detail .guide-detail__image-wrapper .guide-detail__image
{
  width: 50%;
}

.guide-detail .guide-detail__image-wrapper.image-wrapper-1 .guide-detail__image
{
  width: 100%;
}

.guide-detail .guide-detail__image-wrapper.image-wrapper-3
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.guide-detail .guide-detail__image-wrapper.image-wrapper-3 .guide-detail__image
{
  width: 50%;
}
.guide-detail .guide-detail__image-wrapper.image-wrapper-3 .guide-detail__image:last-child
{
  width: 100%;
}

.guide-detail .guide-detail__locals-wrapper
{
  padding-top: 100px;
  padding-right: 10.13889%;
  padding-bottom: 100px;
  padding-left: 10.13889%;
}
.guide-detail .guide-detail__locals-wrapper > hgroup
{
  margin-bottom: 55px;

  text-align: center;
}
.guide-detail .guide-detail__locals-wrapper > hgroup h3.title
{
  margin-bottom: 10px;
}
.guide-detail .guide-detail__locals-wrapper > hgroup h4
{
  font-weight: 700;
  font-style: italic;
}
.guide-detail .guide-detail__locals-wrapper .explore-team-row
{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.guide-detail .guide-detail__top-area
{
  padding: 0 15.27778%;
}
.guide-detail .guide-detail__top-area header,
.guide-detail .guide-detail__top-area hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__top-area header,
  .guide-detail .guide-detail__top-area hgroup
  {
    margin-bottom: 35px;
  }
}
.guide-detail .guide-detail__top-area header > h3,
.guide-detail .guide-detail__top-area header > .heading,
.guide-detail .guide-detail__top-area hgroup > h3,
.guide-detail .guide-detail__top-area hgroup > .heading
{
  padding-bottom: 1rem;
}
.guide-detail .guide-detail__top-area header > span.underline,
.guide-detail .guide-detail__top-area hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__top-area header
  {
    margin-left: 30px;
  }
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__top-area
  {
    padding: 0 10%;
  }
}
.guide-detail .guide-detail__top-area aside.guide-detail__top-area__wrapper
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__top-area aside.guide-detail__top-area__wrapper
  {
    display: block;

    width: 100%;
    margin-bottom: 75px;
  }
}
.guide-detail .guide-detail__top-area aside.guide-detail__top-area__wrapper .guide-detail__top-area__block
{
  width: 33.33%;
  padding-right: 1px;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__top-area aside.guide-detail__top-area__wrapper .guide-detail__top-area__block
  {
    width: 80%;
    margin-bottom: 0;
  }
}
.guide-detail .guide-detail__top-area aside.guide-detail__top-area__wrapper .guide-detail__top-area__block:nth-child
{
  padding-right: 0;
}
.guide-detail .guide-detail__top-area aside.guide-detail__top-area__wrapper .guide-detail__top-area__block > h6.title
{
  margin: 30px auto;

  text-align: center;
  letter-spacing: .15rem;
}
.guide-detail .guide-detail__top-area .guide-detail__top-area__block__image
{
  width: 100%;
}
.guide-detail .guide-detail__top-area .guide-detail__top-area__block__list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  padding: 0 10px 100px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.guide-detail .guide-detail__top-area .guide-detail__top-area__block__list-item
{
  margin-bottom: 30px;

  text-align: center;
}
.guide-detail .guide-detail__top-area .guide-detail__top-area__block__list-item:last-child
{
  margin-bottom: 0;
}
.guide-detail .guide-detail__top-area .guide-detail__top-area__block__list-item p
{
  font-style: italic;

  letter-spacing: .15rem;
}
.guide-detail .guide-detail__top-area .guide-detail__top-area__block__list-item a
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;
  font-weight: 100;
  font-style: normal;

  display: block;

  margin: 5px 0;

  letter-spacing: .2rem;
  text-transform: uppercase;

  color: #313641;
}

.guide-detail .guide-detail__destination-wrapper
{
  padding: 70px 10.13889%;

  background-color: #f4f4f4;
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__destination-wrapper
  {
    padding: 0 0 30px;
  }
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__destination-wrapper .destination-listing__block
  {
    flex-direction: column-reverse;

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
  }
}
@media (max-width: 769px)
{
  .guide-detail .guide-detail__destination-wrapper .destination-listing__block .destination-listing__copy h3.title
  {
    position: static;
  }
}

section.guides-listing .filter-link-container
{
  padding-top: 15px;
}

section.guides-listing .filter__options-wrapper,
section.guides-listing .filter-link-container
{
  display: none;
}

section.guides-listing .wrapper > .hero
{
  position: fixed;
  z-index: -1;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  max-width: 1440px;
  height: 540px;
  margin: 0 auto;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 769px)
{
  section.guides-listing .wrapper > .hero
  {
    top: 0;

    height: 100vh;
  }
}
section.guides-listing .wrapper > .hero hgroup .intro,
section.guides-listing .wrapper > .hero hgroup h1
{
  text-align: center;

  color: #3d4451;
}
section.guides-listing .wrapper > .hero hgroup h1
{
  width: 59%;
  margin: 0 auto 14px;
}
section.guides-listing .wrapper > .hero hgroup .intro
{
  width: 60%;
  margin: 0 auto;
}
section.guides-listing .wrapper > .hero hgroup a
{
  font-family: 'adobe-garamond-pro',sans-serif;
  font-weight: 700;
  font-style: italic;
}

section.guides-listing .wrapper .guides-listing__content
{
  margin-top: 640px;
  padding: 75px 10.13889% 100px;

  background-color: #efefef;
}
@media (max-width: 769px)
{
  section.guides-listing .wrapper .guides-listing__content
  {
    padding: 0;
  }
}
section.guides-listing .wrapper .guides-listing__content a.btn
{
  margin: 0 auto;
}

section.guides-listing .wrapper .guides-listing__row
{
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 769px)
{
  section.guides-listing .wrapper .guides-listing__row
  {
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}
section.guides-listing .wrapper .guides-listing__row .guide-block
{
  margin-bottom: 60px;
}
section.guides-listing .wrapper .guides-listing__row .guide-block:last-child
{
  margin-bottom: 0;
}
@media (min-width: 769px)
{
  section.guides-listing .wrapper .guides-listing__row .guide-block:nth-child(even) .guide-block__inner
  {
    flex-direction: row-reverse;

    margin-left: auto;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
  }
  section.guides-listing .wrapper .guides-listing__row .guide-block:nth-child(even) .guide-block__image-floater
  {
    right: auto;
    left: 0;
  }
}