

#retreat-search .wrapper .bg
{
  height: 300px;

  background: url('../images/explore-bg.jpg') center center repeat;
  background-color: #f3f3f3;
  background-size: cover;
}
@media (max-width: 769px)
{
  #retreat-search .wrapper .bg
  {
    display: none;
  }
}

#retreat-search .wrapper .initMobileSearchDates
{
  display: none;
}
@media (max-width: 769px)
{
  #retreat-search .wrapper .initMobileSearchDates
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin-top: 10px;
  }
}

#retreat-search .wrapper .mobile-results
{
  display: none;
}
@media (max-width: 769px)
{
  #retreat-search .wrapper .mobile-results
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 30px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

#retreat-search .subnav-container
{
  width: 80%;
  height: 100px;
  margin: -100px auto 100px;
  padding: 0 5%;

  background-color: #fff;
}
@media only screen and (min-width: 600px) and (max-width: 1024px)
{
  #retreat-search .subnav-container
  {
    width: 100%;
  }
}
@media (max-width: 769px)
{
  #retreat-search .subnav-container
  {
    display: none;
  }
}
#retreat-search .subnav-container.stuck
{
  width: 100%;
  padding: 0 9%;
}
#retreat-search .subnav-container .filter__results-data
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 22%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#retreat-search .subnav-container .filter__results-data h2
{
  white-space: nowrap;
}
#retreat-search .subnav-container .filter-block .filter__options-wrapper
{
  width: 78%;
}
#retreat-search .subnav-container .filter__more-options-wrapper
{
  top: 99px;
  right: 0;
}
#retreat-search .subnav-container .filter__more-options-wrapper .arrow-up-destination-list
{
  left: 73.5%;
}
#retreat-search .subnav-container input[type=radio].custom-check-input + label.custom-check-label,
#retreat-search .subnav-container input[type=checkbox].custom-check-input + label.custom-check-label
{
  font-weight: 100;
}
#retreat-search .subnav-container .global-nav__destinations__destination-list-wrapper
{
  position: absolute;
  z-index: 2;
  top: 98px;
  left: 0;

  display: none;

  width: auto;
  padding-left: 55px;

  border: 1px solid #efefef;
  background-color: #fff;
}
#retreat-search .subnav-container .global-nav__destinations__destination-list-wrapper .arrow-up-destination-list
{
  top: 0;
  left: 9.5%;
}
#retreat-search .subnav-container .global-nav__destinations__destination-list-wrapper .arrow-up-destination-list:after,
#retreat-search .subnav-container .global-nav__destinations__destination-list-wrapper .arrow-up-destination-list:before
{
  left: inherit;
}
#retreat-search .subnav-container .global-nav__destinations__destination-list-wrapper.show
{
  display: block;

  -webkit-animation: fadeInFromNone .5s ease-in-out;
  animation: fadeInFromNone .5s ease-in-out;
}
#retreat-search .subnav-container .global-nav__destinations__destination-list-wrapper .global-nav__destination-list
{
  display: block;

  padding: 30px 0;
}
#retreat-search .subnav-container .global-nav__destinations__destination-list-wrapper .sort-list
{
  flex-direction: column;

  margin-right: 90px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
#retreat-search .subnav-container .global-nav__destinations__destination-list-wrapper .sort-list li
{
  white-space: nowrap;
}
#retreat-search .subnav-container .cal .input-label
{
  font-size: 15px;
  font-size: .9375rem;

  cursor: pointer;

  color: #3d4451;
}
#retreat-search .subnav-container .cal .label
{
  font-size: 10px;
  font-size: .625rem;

  position: absolute;
  top: 20px;
  left: 0;

  letter-spacing: .2rem;
  text-transform: uppercase;
}
#retreat-search .subnav-container .cal .input-container
{
  position: absolute;
  top: 98px;

  display: none;

  border: 1px solid #efefef;
}
#retreat-search .subnav-container .cal .input-container .arrow-up-destination-list
{
  top: -172px;
  left: 7%;
}
#retreat-search .subnav-container .cal .input-container.show
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-animation: fadeInFromNone .5s ease-in-out;
  animation: fadeInFromNone .5s ease-in-out;
}
#retreat-search .subnav-container .cal .icon
{
  margin-left: 6px;
}
#retreat-search .subnav-container .filter__options-wrapper__filter-option
{
  min-width: 0;
  margin-left: 0;
  padding-right: 35px;
}
#retreat-search .subnav-container .filter__options-wrapper__filter-option:first-child
{
  margin-left: auto;
}
#retreat-search .subnav-container .filter__options-wrapper__filter-option p
{
  font-size: 15px;
  font-size: .9375rem;
}
#retreat-search .subnav-container .filter__apply-filter
{
  margin-left: auto;
}
//#retreat-search .subnav-container .filter__apply-filter .btn
//{
//  width: 85px;
//  height: 45px;
//}
#retreat-search .subnav-container .filter__apply-filter .reset
{
  color: #313641;
  border: 1px #cfd1d4 solid;
  background-color: #fff;
}
#retreat-search .subnav-container .filter__apply-filter .reset:hover
{
  color: #fff;
  background-color: #5e6777;
}

#retreat-search .retreat-search__result-wrapper
{
  position: relative;

  padding-bottom: 145px;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper
  {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}
#retreat-search .retreat-search__result-wrapper .funky-bg
{
  position: absolute;
  top: 136px;
  right: 0;
  left: 0;

  width: 52%;
  height: 100%;
  margin: 0 auto;

  background-size: contain;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .funky-bg
  {
    display: none;
  }
}
#retreat-search .retreat-search__result-wrapper .container
{
  position: relative;

  //margin: 0 10%;
}
#retreat-search .retreat-search__result-wrapper .container header,
#retreat-search .retreat-search__result-wrapper .container hgroup
{
  position: relative;

  margin-bottom: 50px;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .container header,
  #retreat-search .retreat-search__result-wrapper .container hgroup
  {
    margin-bottom: 35px;
  }
}
#retreat-search .retreat-search__result-wrapper .container header > h3,
#retreat-search .retreat-search__result-wrapper .container header > .heading,
#retreat-search .retreat-search__result-wrapper .container hgroup > h3,
#retreat-search .retreat-search__result-wrapper .container hgroup > .heading
{
  padding-bottom: 1rem;
}
#retreat-search .retreat-search__result-wrapper .container header > span.underline,
#retreat-search .retreat-search__result-wrapper .container hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .container
  {
    //margin: 0 35px;
  }
}
#retreat-search .retreat-search__result-wrapper .container > hgroup
{
  margin-left: 6.141%;
}
#retreat-search .retreat-search__result-wrapper .container a.btn
{
  margin: 0 auto;
}
#retreat-search .retreat-search__result-wrapper .container .results-container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  margin: 0 -25px;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .container .results-container
  {
    display: block;

    margin: 0;
  }
}
#retreat-search .retreat-search__result-wrapper .container .results-container .retreat-listing__block-small
{
  margin: 0 25px 24px;

  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .container .results-container .retreat-listing__block-small
  {
    width: 100%;
    margin: 0 0 24px;
  }
}
#retreat-search .retreat-search__result-wrapper .container .results-container .retreat-listing__block-small.show
{
  position: relative;
  left: 0;

  opacity: 1;
}
#retreat-search .retreat-search__result-wrapper .container .results-container .retreat-listing__block-small.hide
{
  position: absolute;
  left: 1000%;

  opacity: 0;
}
#retreat-search .retreat-search__result-wrapper .container .results-container .retreat-listing__block-small .destination-detail
{
  font-family: 'proxima-nova', sans-serif;
  font-size: 10px;
  font-size: .625rem;

  position: absolute;
  top: 0;

  padding: 12px 15px;

  letter-spacing: .1rem;
  text-transform: uppercase;

  color: #fff;
  background-color: #313641;
}
#retreat-search .retreat-search__result-wrapper .container .results-container .slick-dots
{
  bottom: 30px;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .container .results-container .slick-dots
  {
    bottom: 10px;
  }
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .scroll-drag
  {
    display: none;
  }
}
#retreat-search .retreat-search__result-wrapper .too-many-results
{
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  height: 175px;
  margin-top: -101px;

  text-align: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#retreat-search .retreat-search__result-wrapper .too-many-results h3
{
  font-size: 26px;
  font-size: 1.625rem;

  letter-spacing: -.025rem;
}
#retreat-search .retreat-search__result-wrapper .too-many-results p
{
  font-size: 18px;
  font-size: 1.125rem;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .too-many-results
  {
    margin-top: -40px;
  }
}
#retreat-search .retreat-search__result-wrapper .retreat-search__more
{
  position: relative;

  text-align: center;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .retreat-search__more
  {
    display: none;
  }
}
#retreat-search .retreat-search__result-wrapper .retreat-search__more p
{
  margin-top: 6px;
  margin-bottom: 40px;
}
#retreat-search .retreat-search__result-wrapper .retreat-search__more .btn
{
  margin: 0 auto;
}
#retreat-search .retreat-search__result-wrapper .retreat-search__no-results
{
  margin-top: -60px;
}
@media only screen and (min-width: 600px) and (max-width: 1024px)
{
  #retreat-search .retreat-search__result-wrapper .retreat-search__no-results
  {
    margin-top: 0;
  }
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .retreat-search__no-results
  {
    margin-top: 0;
  }
}
#retreat-search .retreat-search__result-wrapper .retreat-search__no-results > h3
{
  font-size: 26px;
  font-size: 1.625rem;

  margin-bottom: 12px;

  text-align: center;
  letter-spacing: -.025rem;
}
#retreat-search .retreat-search__result-wrapper .retreat-search__no-results > h4
{
  margin-bottom: 20px;

  text-align: center;
}
#retreat-search .retreat-search__result-wrapper .retreat-search__no-results .no-results-link
{
  margin-bottom: 100px;

  text-align: center;
}
@media (max-width: 769px)
{
  #retreat-search .retreat-search__result-wrapper .retreat-search__no-results .no-results-link
  {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px)
{
  #retreat-search .retreat-search__result-wrapper .retreat-search__no-results .no-results-link
  {
    margin-bottom: 30px;
  }
}
#retreat-search .retreat-search__result-wrapper .retreat-search__no-results .no-results-link a
{
  font-size: 14px;
  font-size: .875rem;
  font-weight: 100;

  color: #313641;
}
#retreat-search .retreat-search__result-wrapper .retreat-search__no-results .no-results-link a:first-child
{
  margin-right: 34px;
}
