section.pricing-container
{
  width: 52%;
  margin: 0 auto;
  padding: 45px 70px;

  background-color: #fff;
}
section.pricing-container header
{
  margin-bottom: 26px;
  padding-bottom: 8px;

  border-bottom: 1px solid #cfd1d4;
}
section.pricing-container .price-breakdown
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 6px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section.pricing-container .price-breakdown .title
{
  text-transform: uppercase;
}
section.pricing-container .price-breakdown .price
{
  font-family: 'adobe-garamond-pro',sans-serif;
  font-size: 15px;
  font-size: .9375rem;
  font-weight: 700;
  font-style: italic;

  margin-left: auto;

  letter-spacing: .1rem;

  color: #313641;
}
section.listing-map
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.listing-map .listing-map__copy
{
  padding-right: 5%;
}
section.listing-map .listing-map__copy header,
section.listing-map .listing-map__copy hgroup
{
  position: relative;

  margin-bottom: 50px;
}
section.listing-map .listing-map__copy header > h3,
section.listing-map .listing-map__copy header > .heading,
section.listing-map .listing-map__copy hgroup > h3,
section.listing-map .listing-map__copy hgroup > .heading
{
  padding-bottom: 1rem;
}
section.listing-map .listing-map__copy header > span.underline,
section.listing-map .listing-map__copy hgroup > span.underline
{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;

  border-top: 1px solid #313641;
}
section.listing-map .listing-map__copy ul
{
  list-style: disc;
  list-style-position: inside;
}
section.listing-map .listing-map__copy li
{
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;

  margin-bottom: 4px;

  color: #313641;
}
section.listing-map .listing-map__map
{
  width: 50%;
}
.content-listing__mobile-header
{
  display: none;
}