/*Responsive: square Ends*/
@media (max-width: 769px)
{
  .square
  {
    flex-direction: column;

    width: 100%;
    padding-bottom: 2px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
@media (max-width: 769px)
{
  .square .copy-block
  {
    position: static;
  }
}
@media (max-width: 769px)
{
  .square .copy-block .inner
  {
    width: 100%;
  }
}
/*Responsive: square Ends*/

/*Responsive: image-overlay-block Starts*/
@media (max-width: 769px)
{
  .image-overlay-block
  {
    flex-direction: column-reverse;

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block .overlay__copy
  {
    padding-top: 20px;
    padding-right: 10.9375%;
    padding-left: 10.9375%;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block .overlay__copy
  {
    width: 100%;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block .overlay__copy h3.title
  {
    line-height: 20px;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block .image-on-image
  {
    width: 85%;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block .image-on-image .inner time
  {
    top: -26px;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block .image-on-image.right .inner .image__small
  {
    right: -53px;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block .image-on-image.left
  {
    margin-left: auto;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block .image-on-image.left .inner .image__small
  {
    left: -53px;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block.text-right
  {
    flex-direction: column-reverse;

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
  }
}
@media (max-width: 769px)
{
  .image-overlay-block.text-right .overlay__copy
  {
    padding-right: 10.9375%;
    padding-left: 10.9375%;
  }
}
/*Responsive: image-overlay-block Ends*/

/*Responsive: instagram-row Starts*/
@media (max-width: 769px)
{
  .instagram-row .instagram-block
  {
    height: 160px;

    background-position: top !important;
    /* (853 / 1280 * 100) */
    background-size: contain !important;
  }
}

@media (max-width: 769px)
{
  .instagram-row .instagram-block .instagram-block__cta
  {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 769px)
{
  .instagram-row .instagram-block .instagram-block__cta .icon_instagram
  {
    font-size: 8px;
    font-size: .5rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
  .instagram-row .instagram-block
  {
    height: 380px;
  }
}
/*Responsive: instagram-row Ends*/

/*Responsive: quote-block Starts*/
@media (max-width: 769px)
{
  .quote-block
  {
    padding: 35px 10.9375%;
  }
}
/*Responsive: quote-block Ends*/


/*Responsive: content-row Ends*/
@media (max-width: 769px)
{
  section.content-row__overflow-up .content-row__wrapper
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
@media (max-width: 769px)
{
  section.content-row__overflow-up .content-row__copy header,
  section.content-row__overflow-up .content-row__copy hgroup
  {
    margin-bottom: 35px;
  }
}
@media (max-width: 769px)
{
  section.content-row__overflow-up .content-row__copy
  {
    width: 100%;
    height: auto;
    padding: 35px;
  }
}
@media (max-width: 769px)
{
  section.content-row__overflow-up .content-row__image
  {
    width: 100%;
    height: 170px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
  section.content-row__overflow-up .content-row__image
  {
    height: 320px;
  }
}
/*Responsive: content-row Ends*/

/*Responsive: content-grid Starts*/
@media (max-width: 769px)
{
  section.content-grid__multi .content-grid__multi-wrapper
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
  section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy
  {
    width: 100%;
  }
}
@media (max-width: 769px)
{
  section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy
  {
    position: static;
    z-index: 2;

    display: block;

    width: 100%;
    height: auto;
  }
}
@media (max-width: 769px)
{
  section.content-grid__multi .content-grid__multi-wrapper .content-grid__multi-copy .inner
  {
    width: 100%;
    height: auto;
    padding: 25px 4.6875%;

    background-color: transparent;
  }
}
@media (max-width: 769px)
{
  section.content-grid__multi .content-grid__multi-wrapper .content-listing__map
  {
    z-index: 1;

    width: 100%;
    margin-top: -30px;
    margin-bottom: 0;
  }
}
@media (max-width: 769px)
{
  .content-grid__secondary
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
@media (max-width: 769px)
{
  .content-grid__secondary .instagram-row
  {
    width: 100%;
  }
}
@media (max-width: 769px)
{
  .content-grid__secondary .content-grid__secondary__quote
  {
    width: 100%;
  }
}
@media (max-width: 769px)
{
  .content-grid__quote .content-grid__quote-wrapper
  {
    flex-direction: column;

    height: auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
@media (max-width: 769px)
{
  .content-grid__quote .content-grid__quote-wrapper__quote-image
  {
    width: 100%;
  }
}
@media (max-width: 769px)
{
  .content-grid__quote .content-grid__quote-wrapper__quote-image .quote-block
  {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 769px)
{
  .content-grid__quote .content-grid__quote-wrapper__quote-image .content-grid__quote-wrapper__quote-image__image .caption
  {
    display: none;
  }
}
@media (max-width: 769px)
{
  .content-grid__quote .content-grid__quote-wrapper__image
  {
    width: 100%;
    height: 320px;
    margin-top: 10px;
  }
}
@media (max-width: 769px)
{
  .content-grid__quote .content-grid__quote-wrapper__image .caption
  {
    display: none;
  }
}
@media (max-width: 769px)
{
  section.content-grid__event .content-grid__event-wrapper
  {
    flex-direction: column-reverse;

    width: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
  }
}
@media (max-width: 769px)
{
  section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy
  {
    position: static;
    z-index: 1;

    height: auto;

    background-color: #fff;
  }
}
@media (max-width: 769px)
{
  section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner header,
  section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner hgroup
  {
    margin-bottom: 35px;
  }
}
@media (max-width: 769px)
{
  section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner
  {
    width: 100%;
    height: auto;
    padding: 25px 4.6875%;

    background-color: transparent;
  }
}
@media (max-width: 769px)
{
  section.content-grid__event .content-grid__event-wrapper .content-grid__event-copy .inner .subtitle
  {
    display: block;
  }
}
@media (max-width: 769px)
{
  section.content-grid__event .content-grid__event-wrapper .content-listing__image
  {
    width: 100%;
  }
  section.content-grid__event .content-grid__event-wrapper .content-listing__image header,
  section.content-grid__event .content-grid__event-wrapper .content-listing__image hgroup
  {
    position: relative;

    margin-bottom: 50px;
  }
}
@media (max-width: 769px) and (max-width: 769px)
{
  section.content-grid__event .content-grid__event-wrapper .content-listing__image header,
  section.content-grid__event .content-grid__event-wrapper .content-listing__image hgroup
  {
    margin-bottom: 35px;
  }
}
@media (max-width: 769px)
{
  section.content-grid__event .content-grid__event-wrapper .content-listing__image header > h3,
  section.content-grid__event .content-grid__event-wrapper .content-listing__image header > .heading,
  section.content-grid__event .content-grid__event-wrapper .content-listing__image hgroup > h3,
  section.content-grid__event .content-grid__event-wrapper .content-listing__image hgroup > .heading
  {
    padding-bottom: 1rem;
  }
  section.content-grid__event .content-grid__event-wrapper .content-listing__image header > span.underline,
  section.content-grid__event .content-grid__event-wrapper .content-listing__image hgroup > span.underline
  {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 150px;

    border-top: 1px solid #313641;
  }
}
@media (max-width: 769px)
{
  section.content-grid__event.right .content-listing__image
  {
    width: 100%;
    margin: auto;
  }
}
/*Responsive: content-grid Ends*/

/*Responsive: numbered-list Starts*/
@media (max-width: 769px)
{
  .numbered-list
  {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
@media (max-width: 769px)
{
  .numbered-list .numbered-item
  {
    width: 100%;
  }
}
/*Responsive: numbered-list Ends*/

/*Responsive: pricing-container Starts*/
@media (max-width: 769px)
{
  section.pricing-container
  {
    width: 95%;
    margin: 0 auto;
    padding: 15px 4.6875%;
  }
}
@media (max-width: 769px)
{
  section.listing-map .listing-map__copy header,
  section.listing-map .listing-map__copy hgroup
  {
    margin-bottom: 35px;
  }
}
@media (max-width: 769px)
{
  section.listing-map .listing-map__copy
  {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 769px)
{
  .content-listing__mobile-header
  {
    display: block;
  }
}
@media (max-width: 769px)
{
  .content-listing__desktop-header
  {
    display: none !important;
  }
}
/*Responsive: pricing-container Ends*/