.scroll-drag
{
  width: 75%;
  margin: 0 auto 100px;
}
.scroll-drag .scroll-el-wrapper
{
  position: relative;
}
.scroll-drag .scroll-el
{
  position: absolute;
  z-index: 1;
  top: -12px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 25px;
  height: 25px;

  cursor: pointer;

  border: 1px solid #313641;
  border-radius: 200px;
  background-color: #c4c5c8;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.scroll-drag .scroll-el .inner
{
  width: 7px;
  height: 7px;

  border-radius: 30px;
  background-color: #313641;
}
.scroll-drag .scroll-bar
{
  position: relative;

  width: 100%;

  border-top: 1px solid #c4c5c8;
}
.scroll-drag .scroll-bar .dot
{
  position: absolute;
  top: -3px;

  width: 6px;
  height: 6px;

  border-radius: 6px;
  background-color: #313641;
}
.scroll-drag .scroll-bar .dot.left
{
  left: 0;
}
.scroll-drag .scroll-bar .dot.right
{
  right: 0;
}
