/*section/journal*/
/*section/multi-variant*/
/*section/witf*/
/*section/tertiary*/
/*section/booking-page*/
/*section/offer*/
/*section/article-retreat*/
/*section/reviews*/
/*section/search-results*/
/*section/style-guide*/
/*section/event*/
/*section/about*/
/*section/toc*/
/*section/homepage*/
/*section/faq*/
/*section/career*/
/*section/guide*/
/*section/experience*/
/*section/acquisition*/
/*section/destination-listing*/
/*section/promotion*/

body.mobile section.contact-us .contact__topic-init.select-dropdown
{
  display: none;
}

body.mobile section.contact-us .contact__form .contact__topic-wrapper select
{
  position: static;

  visibility: visible;
}

#promoCodeResubmit
{
  display: none;
}

section.retreat .booking-anchor
{
  position: relative;
  top: -45px;
}

section.content-grid__event[data-anchor='events'] .content-grid__event-wrapper .content-grid__event-copy .inner .subtitle
{
  display: block !important;
}