.image-overlay-block
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.image-overlay-block .overlay__copy
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  width: 25%;
  padding-right: 3.46153846153846%;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.image-overlay-block .overlay__copy hgroup
{
  margin-bottom: 18px;
}
.image-overlay-block .overlay__copy h5.title
{
  margin-bottom: 8px;
}
.image-overlay-block .overlay__copy h3.title
{
  line-height: 35px;
}
.image-overlay-block .overlay__copy p.excerpt
{
  margin-bottom: 15px;

  color: #3d4451;
}
.image-overlay-block .image-on-image
{
  width: 75%;
}
.image-overlay-block .image-on-image .inner
{
  position: relative;
}
.image-overlay-block .image-on-image .inner .image__large
{
  position: relative;
  z-index: 1;
}
.image-overlay-block .image-on-image .inner time
{
  position: absolute;
  z-index: 3;
  top: -38px;
}
.image-overlay-block .image-on-image .inner .image__small
{
  position: absolute;
  z-index: 2;
  top: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 45.39877300613497%;
  height: 100%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.image-overlay-block .image-on-image.right .inner time
{
  right: -3px;
}
.image-overlay-block .image-on-image.right .inner .image__small
{
  right: -70px;
}
.image-overlay-block .image-on-image.left .inner .image__large time
{
  left: -3px;
}
.image-overlay-block .image-on-image.left .inner .image__small
{
  left: -70px;
}
.image-overlay-block.text-right
{
  flex-direction: row-reverse;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
}
.image-overlay-block.text-right .overlay__copy
{
  padding-right: 0;
  padding-left: 3.46153846153846%;
}

