.quote
{
  font-family: 'adobe-garamond-pro',sans-serif;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 400;
  font-style: italic;
  line-height: 33px;

  letter-spacing: -.025rem;

  color: #313641;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

  -webkit-font-smoothing: antialiased;
}
.quote-block
{
  padding: 60px 40px 20px 50px;
}

